{% extends 'base/base.html' %}{% load static %}

{% block contenido %}
	<div class="banner1">
		<div class="container">
		</div>
	</div>

	<div class="services-breadcrumb">
		<div class="container">
			<ul>
				<li><a href="{% url 'index' %}">Inicio</a><i>|</i></li>
				<li>Contacto</li>
			</ul>
		</div>
	</div>

	<div class="mail">
		<div class="container">
			<h3 class="title_denuncia">Contáctanos</h3>
			<p class="quia">Completa todos los campos</p>

			<div class="w3ls_map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26627.887720352774!2d-70.7207941313252!3d-33.46269641928642!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c48fa8d3a271%3A0x21fdf5e9699638c3!2sSantiago%2C%20Estaci%C3%B3n%20Central%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1617513142751!5m2!1ses!2scl" width="0" height="0" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div class="col-md-4 wthree_contact_left">
				<h4>Contact Center</h4>
				<p>Ruta G60 KM 6 Isla Chocalán
					<span>Melipilla,Chile</span></p>
				<ul>
					<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+569 85060623</li>
					<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:l.ignaciomatus@gmail.com">l.ignaciomatus@gmail.com</a></li>
					<li><span class="glyphicon glyphicon-user" aria-hidden="true"></span><a>Lunes a viernes 9:00 a 18:00 hrs.</a></li>
				</ul>
			</div>
			{% load crispy_forms_tags %}
			<div class="col-md-8 wthree_contact_left ">
				<h4>Formulario de Contacto</h4>
				<form action="" method="POST">
					{% csrf_token %}
					{{ form | crispy }}
					<input type="submit" name="Enviar">
					<input type="reset" name="Limpiar Campos">
					{{mensaje}}
					
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>


{% endblock contenido %}