{% extends 'base/baseOut.html'%} {% load static %}

{% block contenido %}
	<div class="services-breadcrumb">
		<div class="container">
            
			<ul>
				<li><a href="{% url 'index' %}">Inicio</a><i>|</i></li>
				<li>Denuncia Siniestro Auto</li>
			</ul>
		</div>
	</div>

	<div class="services">
    <div class="container">
        <h3 class="denuncia">Lo que debes saber acerca de tu Siniestro Auto</h3>
        <p class="quia">Automóviles</p>
		<br>
		<div class="">
			<div class="">
				<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
				<h4 class="titulo_denuncia">¿Qué hacer en caso de un siniestro de vehículo?</h4>
				<h4 class="text_denuncia">Si en el siniestro resultaran personas lesionadas, debes dar cuenta de inmediato a la unidad policial más próxima, mediante parte policial. En el caso que tengas imposibilidad física debidamente acreditada, y no puedas acudir a la unidad policial, debes dar cuenta del siniestro a la compañía tan pronto sea posible.</h4>
			</div>
		</div>
		<br>
		<br>
		<div class="">
			<div class="">
				<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
				<h4 class="titulo_denuncia">¿Qué documentos debo tener en caso de siniestro?</h4>
				<h4 class="text_denuncia">Los documentos necesarios que debe presentar el asegurado al momento del denuncio del siniestro son:</h4>
				<br>
				<ol>
					<li><strong>Licencia de Conducir</strong></li>
					<li><strong>Permiso de Circulación</strong></li>
					<li><strong>Revisión técnica al día</strong></li>
					
				  </ol>
			</div>
		</div>
		<br>
		<div class="">
			<div class="">
				<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
				<h4 class="titulo_denuncia">Sobre la liquidación de tu siniestro</h4>
				<h4 class="text_denuncia">Al recibir el denuncio del siniestro, autoCar te asignará un liquidador y un taller.</h4>
				<br>
				<ol>
					<li><strong> Coordinación con Taller:</strong> Te recomendamos coordinar con el taller una fecha y hora de entrega de tu vehículo para evitar colas o espera.</li>
					<br>
					<li><strong>Liquidación del Siniestro:</strong> El liquidador revisará los antecedentes del siniestro y determinará si la cobertura aplica. En caso de ser un siniestro cubierto por la Compañía, el liquidador dará la orden de reparación al Taller.</li>
					<br>
					<li><strong>Entrega de tu vehículo: </strong>El taller se comunicará contigo para coordinar una fecha y hora de entrega de tu vehículo reparado.</li>
					
				  </ol>
			</div>
		</div>
		<br>
		<div class="">
			<div class="">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<h4 class="titulo_denuncia">Revisa el estado de tu siniestro</h4>
				<h4 class="text_denuncia">Nuestro servicio "Seguimiento en línea del estado de tu Siniestro", te  permitirá hacer un seguimiento en tiempo real de los siniestros vehiculares que declares. Debes ingresar al portal de clientes con tu usuario y clave; luego en la sección siniestros ver "Estado de Siniestros".</h4>
			</div>
		</div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>


{% endblock contenido %}