{% extends 'base/base.html' %}
{% load static %}

{% block contenido %}
<div class="services-breadcrumb">
		<div class="container">
            
			<ul>
				<li><a href="{% url 'index' %}">Inicio</a><i>|</i></li>
				<li>Proceso Terminado</li>
			</ul>
		</div>
	</div>

	<br>
	<br>
	<br>
	<br>
	<h3 class="title_denuncia">Felicitaciones!</h3>
	<br>

    <p class="quia">Has completado la solicitud con todos los datos del siniestro.</p>
	

	<div class="contacto_siniestro">
		<div class="formulario">      
			<h1 class="ache1">Dirígite al menú principal</h1>
			<h3 class="ache2">Haz click en Volver.</h3>
			<a href="{% url 'index' %}" class="button_finalizar">Volver</a>          
			{{mensaje}}
    	</div>  
  </div>

{% endblock contenido %}