{% extends 'base/base.html' %}{% load static %}

{% block contenido %}

	<div class="services">
    	<div class="container">
			{% if user.is_authenticated %}
        	<h3 class="title_denuncia">Paso N°1</h3>
        	<p class="quia">Para dar inicio al ingreso del siniestro debes validar la póliza.</p>
			{% else %}
			<h3 class="title_denuncia">Seguimiento</h3>
        	<p class="quia">Consulta el seguimiento de tu siniestro usando tu rut</p>
			{% endif %}

			<div class="auto">
				<poliza-validor 
				endpoint="{% url 'valid_policy' %}"
				nexturl="{% url 'accidents:add_accident' 0 %}"
				button_text="{{ user.is_authenticated|yesno:"Reportar Siniestro,Consultar Siniestro" }}"
				anonymous_mode="{{ user.is_authenticated|yesno:"false,true" }}"
				>
			</poliza-validor>
			</div>
			</div>
		</div>
	</div>
{% endblock contenido %}
{% block javas %}
<script>
</script>
<script src="{% static 'vue/components/main.js' %}"></script>
{% endblock javas %}