{% extends 'base/base.html'%} {% load static %}

{% block contenido %}
<div class="services-breadcrumb">
		<div class="container">
			<ul>
				<li><a href="{% url 'index' %}">Inicio</a><i>|</i></li>
				<li>Ingreso de Datos Vehículo</li>
			</ul>
		</div>
	</div>

	<br>
<br>
<br>
<br>
<h3 class="title_denuncia">Paso N°3</h3>
<br>

    <p class="quia">Debes completar el formulario con todos los datos del siniestro.</p>
	
	{% load crispy_forms_tags %}
	<div class="contacto_siniestro">
    <div class="formulario">      
      <h1 class="ache1">Formulario de Vehículo</h1>
        <h3 class="ache2">Ingresa todos los datos del Vehículo para finalizar con el proceso.</h3>
          <form action="" method="POST">
		  {% csrf_token %}   
		  {{ form | crispy }}  
               
              
                <button type="submit" class="button_siniestro" name="enviar_formulario" id="enviar"><p>Guardar Datos</p></button>

                <p class="aviso">
                  <span class="obligatorio"> * </span>los campos son obligatorios.
                </p>          
				{{mensaje}}
          </form>
    </div>  
  </div>

{% endblock contenido %}