/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

html,
body {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    background: #ffffff;
}

p,
ul li {
    font-size: 16px;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

ul,
label {
    margin: 0;
    padding: 0;
}

body a:hover {
    text-decoration: none;
}


/*-- header --*/

input[type="submit"],
.header_left ul li a,
.agile_back_home a,
.agileits_social h5 a,
.w3l_header_left ul li a,
.agileits_tags ul li a,
.login h3 a,
.w3agile_forgot h4 a,
.reply a,
.w3agile_grid_right h3 a,
.w3_comments ul li a,
.agileits_recent_posts_gridr h4 a,
.agileits_twitter_posts ul li a,
.wthree_contact_left input[type="reset"],
.w3l_services_grid1 h4 a,
.wthree_contact_left ul li a,
.w3l_services_grid1 span,
.w3ls_services_bottom_left_gridl h4 a,
.services-breadcrumb ul li a,
.w3agile_footer_grid ul li a,
.agileinfo_copy_right_left p a,
.w3l_header_right ul li a,
.details a,
.agileits_news_grid_left_gridr h4 a {
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
}

.header {
    background: #ff9900;
}

.w3l_header_left {
    float: left;
}

.w3l_header_left ul {
    padding: 0em 0 0 1.5em;
    border-left: 1px solid #fff;
}

.w3l_header_left ul li {
    display: inline-block;
    border-right: 1px solid #fff;
    color: #fff;
    padding: 1em 1.5em 1em 0;
}

.w3l_header_left ul li span {
    padding: .5em;
    margin-right: 1em;
    border: 1px solid #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}

.w3l_header_left ul li a {
    color: #fff;
    text-decoration: none;
}

.w3l_header_left ul li a:hover {
    color: #212121;
}

.w3l_header_left ul li:first-child {
    margin-right: 1.5em;
}

.w3l_header_right {
    float: right;
}

.w3l_header_right ul li {
    display: inline-block;
    margin-right: .5em;
}

.w3l_header_right ul li a {
    text-transform: uppercase;
    color: #fff;
    padding: .5em 1em;
    text-decoration: none;
    border: 1px solid #fff;
    display: block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}

.w3l_header_right ul li a:hover {
    background: #212121;
    border-color: #212121;
}

.w3l_header_right ul li a span {
    padding-right: 1em;
}

.w3l_header_right ul {
    padding: .7em 0 0;
}


/*-- search --*/

.content-wrapper2 {
    position: relative;
}

.wrapper2 {
    display: block;
    margin: 0 auto;
}

.search-button2 {
    display: block;
    position: absolute;
    margin: 14px 20px;
    cursor: pointer;
    z-index: 1;
    -webkit-transform: translateZ(45px);
    -moz-transform: translateZ(45px);
    -ms-transform: translateZ(45px);
    transform: translateZ(45px);
    -o-transform: translateZ(45px);
}

.search-button2 span {
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    background: url(../images/search-icon.png) no-repeat 6px 7px;
}

.search-button2 span img {
    vertical-align: middle;
    padding-top: 7px;
}

.search-box2 {
    display: none;
    position: absolute;
    width: 385px;
    height: 58px;
    padding: 10px;
    background: #fff;
    box-shadow: 0px 0px 2px #DBDBDB;
    -webkit-transform: rotate3d(1, 0, 0, 90deg) translateZ(20px);
    -moz-transform: rotate3d(1, 0, 0, 90deg) translateZ(20px);
    -ms-transform: rotate3d(1, 0, 0, 90deg) translateZ(20px);
    transform: rotate3d(1, 0, 0, 90deg) translateZ(20px);
    -o-transform: rotate3d(1, 0, 0, 90deg) translateZ(20px);
}

.search-box2 input[type=text] {
    font-family: 'Open Sans', sans-serif;
    color: #212121;
    background: #FFFFFF;
    border-radius: 2px;
    padding: 10px;
    width: 250px;
    border: 0;
    font-size: 14px;
    box-shadow: inset rgba(160, 160, 160, 0.4) 0 1px 10px;
}

.search-box2 input[type=submit] {
    padding: 10px 20px;
    outline: none;
    font-size: 14px;
    background: #ff9900;
    color: #fff;
    border: 1px solid;
    border-radius: 5px;
}

.search-box2 input[type=submit]:hover {
    background: #212121;
}

.search-box2 input:focus {
    outline: none;
}

.search-box2 input[type=text]::-webkit-input-placeholder {
    color: #212121;
}

.search-box2 input[type=text]:-moz-placeholder {
    color: #212121;
}

.search-box2 img {
    opacity: .5;
    position: absolute;
    /*-- w3layouts --*/
    margin: .5em 0 0 0.5em;
    cursor: pointer;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
}

.search-box2 img:hover {
    opacity: 1;
}

.hide-search-button {
    display: none;
}

.show-search-button {
    display: block;
}

.show-search-box {
    display: block;
}

.showed-search-box {
    display: block;
    -webkit-transform: rotate3d(1, 0, 0, 0deg);
    -moz-transform: rotate3d(1, 0, 0, 0deg);
    -ms-transform: rotate3d(1, 0, 0, 0deg);
    transform: rotate3d(1, 0, 0, 0deg);
    z-index: 9;
}

.hidden-search-box {
    -webkit-transform: rotate3d(1, 0, 0, 90deg) translateZ(25px);
    -moz-transform: rotate3d(1, 0, 0, 90deg) translateZ(25px);
    -ms-transform: rotate3d(1, 0, 0, 90deg) translateZ(25px);
    transform: rotate3d(1, 0, 0, 90deg) translateZ(25px);
}

.switch-show {
    height: 50px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    /*-- agileits --*/
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-animation: showBox 0.5s ease-in-out;
    -moz-animation: showBox 0.5s ease-in-out;
    animation: showBox 0.5s ease-in-out;
}

.switch-hide {
    height: 50px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-animation: hideBox 0.5s ease-in-out;
    -moz-animation: hideBox 0.5s ease-in-out;
    animation: hideBox 0.5s ease-in-out;
}

.switch-show {
    height: 50px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-animation: showBox 0.5s ease-in-out;
    -moz-animation: showBox 0.5s ease-in-out;
    animation: showBox 0.5s ease-in-out;
}

.switch-hide {
    height: 50px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-animation: hideBox 0.5s ease-in-out;
    -moz-animation: hideBox 0.5s ease-in-out;
    animation: hideBox 0.5s ease-in-out;
}

@-webkit-keyframes showBox {
    0% {
        -webkit-transform: rotate3d(1, 0, 0, 0);
    }
    100% {
        -webkit-transform: rotate3d(1, 0, 0, -90deg);
    }
}

@-moz-keyframes showBox {
    0% {
        -moz-transform: rotate3d(1, 0, 0, 0);
    }
    100% {
        -moz-transform: rotate3d(1, 0, 0, -90deg);
    }
}


/*-- w3layouts --*/

@keyframes showBox {
    0% {
        -ms-transform: rotate3d(1, 0, 0, 0);
    }
    100% {
        -ms-transform: rotate3d(1, 0, 0, -90deg);
    }
}

@-webkit-keyframes hideBox {
    0% {
        -webkit-transform: rotate3d(1, 0, 0, -90deg);
    }
    100% {
        -webkit-transform: rotate3d(1, 0, 0, 0);
    }
}

@-moz-keyframes hideBox {
    0% {
        -moz-transform: rotate3d(1, 0, 0, -90deg);
    }
    100% {
        -moz-transform: rotate3d(1, 0, 0, 0);
    }
}

@keyframes hideBox {
    0% {
        -ms-transform: rotate3d(1, 0, 0, -90deg);
    }
    100% {
        -ms-transform: rotate3d(1, 0, 0, 0);
    }
}


/*-- //search --*/

.link-effect-2 a {
    overflow: hidden;
    font-weight: 400;
}

.link-effect-2 a span {
    position: relative;
    display: inline-block;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.link-effect-2 a span::before {
    color: #ff9900;
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.link-effect-2 a:hover span {
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    /*-- agileits --*/
    transform: translateY(-100%);
}

.navbar-default {
    background: none;
    border: none;
}

.navbar {
    margin-bottom: 0;
}

.navbar-collapse {
    padding: 0;
    box-shadow: none;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: none;
}

.navbar-nav {
    float: left;
    margin: 0 0 0 10em;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #212121;
}

.navbar-brand {
    padding: 0;
    line-height: 46px;
    font-size: 1.2em;
    height: 45px;
    text-transform: uppercase;
    font-weight: 600;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background: none;
    color: #ff9900;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #F58703;
}

.navbar-nav>li>a {
    font-size: 14px;
    text-transform: uppercase;
    padding: 0 20px;
    margin: 1em 0 0;
}

.navbar-brand span {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    display: inline-block;
    color: #ff9900;
    line-height: 1;
}

.navbar-nav {
    float: right;
    margin: 0;
}

.logo_nav {
    padding: 1.5em 0;
}


/*-- //header --*/


/*-- banner --*/

.banner {
    background: url(../images/auto.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 700px;
}

.w3ls_banner_info {
    width: 60%;
    padding: 3em;
    background: rgba(46, 46, 46, 0.2);
    margin: 11em auto 0;
    text-align: center;
}

.w3ls_banner_info h2 {
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    font-size: 4em;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 10px;
}

.w3ls_banner_info p {
    width: 80%;
    margin: 1em auto 3em;
    color: #fff;
    line-height: 2em;
}

.wthree_more a {
    padding: 10px 30px;
    border: 1px solid #fff;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    position: relative;
    z-index: 1;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    display: block;
}


/* Wayra */

.button--wayra {
    overflow: hidden;
    width: 35%;
    -webkit-transition: border-color 0.3s, color 0.3s;
    transition: border-color 0.3s, color 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    margin: 0 auto;
}

.button--wayra::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FF9900;
    z-index: -1;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

.button--wayra:hover {
    color: #fff;
    border-color: #ff9900;
}

.button--wayra.button--inverted:hover {
    color: #3f51b5;
    border-color: #fff;
}

.button--wayra:hover::before {
    opacity: 1;
    background-color: #ff9900;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button--wayra.button--inverted:hover::before {
    background-color: #fff;
}


/*-- //banner --*/


/*-- banner-bottom --*/

.banner-bottom,
.news,
.login,
.single,
.w3agile_comments,
.testimonials,
.services,
.about-bottom,
.mail,
.typo,
.services-bottom,
.special-services,
.about,
.about-counter {
    padding: 5em 0;
}

.view-tenth img {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    width: 100%;
}

.view-tenth .mask {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.view-tenth img {
    filter: alpha(opacity=1);
    opacity: 1;
}

.view-tenth:hover .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.view {
    float: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    padding: 1em 1em 2em;
    background: #f5f5f5;
}

.view .mask,
.view .content {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.view img {
    display: block;
    position: relative;
}

.agile_text_box p {
    line-height: 1.8em;
    width: 75%;
    margin: 0 auto;
    color: #999;
    text-align: justify;
}

.agile_text_box i {
    background: url(../images/img-sp.png) no-repeat -12px 0px;
    display: block;
    width: 64px;
    height: 64px;
    margin: 0 auto;
}

i.men {
    background: url(../images/img-sp.png) no-repeat -102px -1px;
    display: block;
    width: 64px;
    height: 64px;
    margin: 0 auto;
}

i.shipping {
    background: url(../images/img-sp.png) no-repeat -173px -1px;
    display: block;
    width: 64px;
    height: 64px;
    margin: 0 auto;
}

i.clock {
    background: url(../images/img-sp.png) no-repeat -247px 11px;
    display: block;
    width: 64px;
    height: 64px;
    margin: 0 auto;
}

.agile_text_box h3 {
    text-transform: capitalize;
    font-size: 1.2em;
    color: #ff9900;
    line-height: 1.5em;
    margin: 1em 0 .5em;
}

.banner_bottom_right_grid {
    padding-right: 0;
}

.wthree_banner_bottom_right_grids:nth-child(2) {
    margin: 1em 0 0;
}

.banner_bottom_left h3 {
    font-size: 2em;
    color: #212121;
    text-transform: capitalize;
}

.banner_bottom_left p i {
    color: #ff9900;
    display: block;
    margin: .5em 0 1em;
}

.banner_bottom_left {
    text-align: right;
    margin-top: 4em;
}

.banner_bottom_left p {
    color: #999;
    line-height: 2em;
    margin-bottom: 3em;
}

.wthree_more1 a,
.wthree_more2 a,
.wthree_more3 a {
    border-color: #212121;
    color: #212121;
    text-align: center;
}

.wthree_more1 .button--wayra {
    margin-left: 25em;
}


/*-- //banner-bottom --*/


/*-- banner-bottom1 --*/

.banner-bottom1 {
    background: #ff9c47;
}

.agile_banner_bottom1_left {
    padding-left: 0;
}

.agile_banner_bottom1_left img {
    width: 100%;
}

.agile_banner_bottom1_right h3 {
    font-size: 1.8em;
    color: #fff;
    line-height: 1.8em;
    text-transform: capitalize;
}

.agile_banner_bottom1_right {
    padding: 6em 13em 5em 5em;
}

.agile_banner_bottom1_right p {
    margin: 1em 0 2em;
    color: #ffffff;
    line-height: 2em;
}

.details a {
    font-size: 1em;
    letter-spacing: 2px;
    color: #fff;
    text-decoration: none;
    padding-right: 2em;
    background: url(../images/img-sp.png) no-repeat 115px -92px;
}

.details a:hover {
    background: url(../images/img-sp.png) no-repeat 115px -140px;
    color: #212121;
}


/*-- //banner-bottom1 --*/


/*-- news --*/

.news h3,
.testimonials h3,
.services h3,
.special-services h3,
.about h3,
h3.title,
.mail h3,
.login h6 {
    text-align: center;
    color: #212121;
    font-size: 2em;
    font-weight: 600;
    padding: .5em 1em;
    /*box-shadow: 0px 0px 2px #b0b0b0;*/
    text-transform: uppercase;
    /*width: 30%;*/
    margin: 0 auto;
}

p.quia {
    text-align: center;
    color: #ff9900;
    font-size: 1em !important;
    font-style: italic;
    margin: .5em 0 0 !important;
    text-transform: capitalize;
    font-weight: 500 !important;
}

.agileits_news_grids {
    margin: 3em 0 0;
}

.agileits_news_grid_left_gridl p {
    font-size: 2em;
    color: #212121;
    padding-bottom: .5em;
    margin-bottom: .5em;
    position: relative;
    font-weight: 800;
    text-align: right;
}

.agileits_news_grid_left_gridl p.para1:before,
.agileits_news_grid_left_gridl p.para1:after {
    content: '';
    position: absolute;
    bottom: 0%;
    height: 2px;
    border-radius: 5px;
}

.agileits_news_grid_left_gridl p.para1:before {
    width: 20%;
    background: #d5d5d5;
    left: 0%;
}

.agileits_news_grid_left_gridl p.para1:after {
    width: 83%;
    background: #ff9900;
    right: 0%;
}

.agileits_news_grid_left_gridl p span {
    display: block;
    font-size: 14px;
    font-weight: 500;
}

.agileits_news_grid_left_gridl p a {
    color: #999;
    text-decoration: none;
}

.agileits_news_grid_left_gridl {
    float: left;
    width: 20%;
}

.agileits_news_grid_left_gridr {
    float: right;
    width: 70%;
}

.agileits_news_grid_left {
    padding: 0 2em;
}

.agileits_news_grid_left_gridl p i {
    font-size: .7em;
    color: #919191;
}

.agileits_news_grid_left_gridr h4 a {
    display: block;
    font-size: 1.1em;
    color: #ff9900;
    margin: 1.5em 0 1em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.agileits_news_grid_left_gridr h4 a:hover {
    color: #212121;
}

.agileits_news_grid_left_gridr p {
    color: #999;
    line-height: 2em;
    margin: 1em 0 0;
}


/*-- load-more --*/

#myList li {
    display: none;
    list-style-type: none;
    margin-bottom: 3em;
}

#loadMore,
#showLess {
    display: inline-block;
    cursor: pointer;
    padding: 10px 30px;
    background: #fff;
    font-size: 14px;
    color: #fff;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    background: #ff9900;
    text-transform: uppercase;
    font-weight: 700;
}

#showLess:hover,
#loadMore:hover {
    background: #212121;
    color: #fff;
}

div#loadMore {
    margin-left: 13em;
    margin-right: 1em;
}


/*-- //load-more --*/


/*-- //news --*/


/*-- testimonials --*/

.testimonials {
    background: #f5f5f5;
}

.w3_testimonials_grids {
    margin: 3em auto 0;
    width: 80%;
    text-align: center;
}

.w3_testimonials_grid h4 {
    font-size: 1.2em;
    color: #999;
    line-height: 1.8em;
    margin: 1em auto;
    padding-left: 2.5em;
    position: relative;
    width: 80%;
}

.w3_testimonials_grid h4:before {
    content: '';
    position: absolute;
    left: 0%;
    top: 0%;
    background: url(../images/img-sp.png) no-repeat -10px -181px;
    display: block;
    height: 15px;
    width: 20px;
}

.w3_testimonials_grid h5 {
    font-weight: 600;
    color: #212121;
    font-size: 1em;
}

.w3_testimonials_grid p {
    color: #ff9900;
    line-height: 1.8em;
    margin: .5em 0 0;
}

.w3_testimonials_grid img {
    margin: 0 auto;
}

.w3_testimonials_grid {
    padding-bottom: 4em;
}


/*-- //testimonials --*/


/*-- footer --*/

.footer {
    background: #313131;
    padding: 1em 0;
}

.w3agile_footer_grid h3 {
    font-size: 1.7em;
    color: #fff;
    padding-bottom: .5em;
    margin-bottom: 1em;
    position: relative;
}

.w3agile_footer_grid h3:before {
    content: '';
    position: absolute;
    bottom: 0%;
    left: 0%;
    background: #ff9900;
    width: 25%;
    height: 2px;
}

.w3agile_footer_grid {
    color: #999;
    line-height: 2em;
}

.w3agile_footer_grid h2 {
    margin: 1em 0 0;
}

.w3agile_footer_grid h2 a {
    font-size: 1.3em;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

.w3agile_footer_grid h2 a span {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    display: inline-block;
    color: #ff9900;
    line-height: 1;
}

.w3agile_footer_grid ul li {
    list-style-type: none;
    margin-bottom: 1.5em;
}

.w3agile_footer_grid ul li a {
    color: #999;
    text-decoration: none;
}

.w3agile_footer_grid ul li a:hover {
    color: #ff9900;
}

.w3agile_footer_grid:nth-child(2) {
    border-left: 1px solid #5c5c5c;
    border-right: 1px solid #5c5c5c;
    padding-left: 4em;
}

.w3agile_footer_grid:nth-child(3) {
    padding-left: 3em;
    border-right: 1px solid #5c5c5c;
}

.w3agile_footer_grid:nth-child(4) {
    padding-left: 3em;
}

ul.w3agile_footer_grid_list li {
    list-style-type: none;
    color: #999;
    line-height: 1.9em;
    margin-bottom: 1em;
}

ul.w3agile_footer_grid_list li span {
    display: block;
    margin: 1em 0 0;
    background: url(../images/img-sp.png) no-repeat -60px -177px;
    padding-left: 2em;
}

.w3agile_footer_grid_left {
    float: left;
    width: 33.33%;
    padding: .15em;
}

.agileinfo_copy_right {
    background: #212121;
    padding: 1.5em 0;
}

.agileinfo_copy_right_left {
    float: left;
}

.agileinfo_copy_right_right {
    float: right;
}

.agileinfo_copy_right_left p {
    color: #fff;
    line-height: 1.8em;
}

.agileinfo_copy_right_left p a {
    color: #ff9900;
    text-decoration: none;
}

.agileinfo_copy_right_left p a:hover {
    color: #fff;
}

ul.social li {
    display: inline-block;
    margin: 0 .5em;
    font-size: 1em;
    color: #999;
}

.social a {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-decoration: none;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    z-index: 2;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.social a:hover {
    color: #fff;
}

.social a:hover .tooltip {
    display: block;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px);
}

.social a:active {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
}

.social .tooltip {
    opacity: 0;
    position: absolute;
    top: -20px;
    left: 50%;
    z-index: 1;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.social .tooltip span {
    position: relative;
    left: -50%;
    padding: 6px 8px 5px 8px;
    border-radius: 3px;
    color: #fff;
    font-size: .7rem;
    line-height: 1;
    z-index: 1;
    background: #565656;
    color: #fff;
}

.social .tooltip span:after {
    position: absolute;
    content: " ";
    width: 0;
    height: 0;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border: 8px solid transparent;
    border-top-color: #565656;
}

.social i {
    position: relative;
    top: 1px;
    font-size: 1.5rem;
}

.social li a.social-linkedin i {
    background: url(../images/img-sp.png) no-repeat -8px -230px;
    display: block;
    width: 20px;
    height: 16px;
}

.social li a.social-twitter i {
    background: url(../images/img-sp.png) no-repeat -51px -236px;
    display: block;
    width: 20px;
    height: 16px;
}

.social li a.social-google i {
    background: url(../images/img-sp.png) no-repeat -96px -236px;
    display: block;
    width: 20px;
    height: 16px;
}

.social li a.social-facebook i {
    background: url(../images/img-sp.png) no-repeat -144px -238px;
    display: block;
    width: 20px;
    height: 16px;
}

.social li a.social-instagram i {
    background: url(../images/img-sp.png) no-repeat -195px -238px;
    display: block;
    width: 20px;
    height: 16px;
}


/*-- //footer --*/


/*-- banner1 --*/

.banner1 {
    background: url(../images/auto1.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 400px;
}

.services-breadcrumb {
    padding: 1em 0;
    background: #f5f5f5;
    text-align: center;
}

.services-breadcrumb ul li {
    display: inline-block;
    color: #212121;
    text-transform: uppercase;
}

.services-breadcrumb ul li a {
    color: #ff9900;
    text-decoration: none;
}

.services-breadcrumb ul li a:hover {
    color: #212121;
}

.services-breadcrumb ul li i {
    padding: 0 1.5em;
}


/*-- //banner1 --*/


/*-- services --*/

.w3l_services_grid1 {
    text-align: center;
}

.w3l_services_grid1 span {
    color: #ff9900;
    font-size: 1.5em;
}

.w3l_services_grid1 h4 a {
    text-transform: capitalize;
    font-size: 1.1em;
    color: #212121;
    text-decoration: none;
    display: block;
    margin: 1em 0;
}

.w3l_services_grid1 h4 a:hover,
.w3l_services_grid:hover .w3l_services_grid1 h4 a {
    color: #ff9900;
}

.w3l_services_grid1 li {
    color: #000000;
    line-height: 2em;
    text-align: justify;
    padding: -1px;
}

.w3l_services_grid1 p {
    color: #999;
    line-height: 2em;
    text-align: justify;
}

.w3l_services_grids:nth-child(3) {
    margin: 4em 0 3em;
}

.w3l_services_grid1 span {
    overflow: hidden;
    position: relative;
}

.w3l_services_grid:hover .w3l_services_grid1 span {
    -webkit-transform: scale(1.3) translateY(1px);
    transform: scale(1.3) translateY(1px);
    -o-transform: scale(1.3) translateY(1px);
    -ms-transform: scale(1.3) translateY(1px);
    color: #212121;
}


/*-- //services --*/


/*-- services-bottom --*/

.services-bottom {
    background: #f5f5f5;
}

.services-bottom h3 {
    font-size: 1.8em;
    color: #212121;
    margin-bottom: 1.5em;
    text-transform: capitalize;
    text-align: center;
}

.w3ls_services_bottom_left,
.w3ls_services_bottom_left_gridl {
    text-align: right;
}

.w3ls_services_bottom_left_gridl h4 a {
    font-size: 1.1em;
    color: #ff9900;
    text-decoration: none;
    text-transform: capitalize;
}

.w3ls_services_bottom_left_gridl h4 a:hover {
    color: #212121;
}

.w3ls_services_bottom_left_gridl p {
    margin: 1em 0 0;
    color: #999;
    line-height: 2em;
}

.w3ls_services_bottom_left_gridr1 {
    width: 60px;
    height: 60px;
    background: #ea8c00;
    border-radius: 65px;
    text-align: center;
    margin: 1.5em auto 0;
}

.w3ls_services_bottom_left_gridr1 h4 {
    font-size: 1.2em;
    color: #fff;
    padding-top: .9em;
}

.w3ls_services_bottom_left_grid:nth-child(2) {
    margin: 2em 0;
}

.w3ls_services_bottom_left_gridl1 {
    text-align: left !important;
}

.special-services h3 {
    width: 40% !important;
}

.wthree_special_service_left h4 {
    margin: 1em 0 2em;
    color: #ff9900;
    font-size: 1.3em;
    line-height: 1.5em;
    text-transform: capitalize;
}

.wthree_more2 a {
    width: 45% !important;
    text-align: left !important;
    margin: 0;
}

.wthree_special_services {
    margin: 3em 0 0;
}


/*-- //services-bottom --*/


/*-- about --*/

.agile_about_grids {
    margin: 4em 0 0;
}

.agile_about_grid_left_img {
    padding: 2em 1em 0;
}

.agile_about_grid_right h4 {
    text-transform: capitalize;
    font-size: 1.8em;
    color: #212121;
    line-height: 1.5em;
}

.agile_about_grid_right p {
    color: #999;
    margin: 2em 0 3em;
    line-height: 2em;
}

.agile_about_grid_right p i {
    display: block;
    margin: 1em 0 0;
    color: #212121;
}

.agile_about_grid_right p span {
    color: #ff9900;
}

.wthree_more3 a {
    margin: 0 !important;
}


/*-- //about --*/


/*-- about-counter --*/

.about-counter {
    background: url(../images/13.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 300px;
}

.about_counter_left {
    text-align: center;
}

.about_counter_left i {
    font-size: 2em;
    color: #ff9900;
}

.about_counter_left p {
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
    margin: 0.5em 0 0em;
}

.about_counter_left h3 {
    color: #fff;
    font-size: 1.3em;
    margin: .5em 0 0;
}


/*-- //about-counter --*/


/*-- about-bottom --*/

.w3l_about_bottom_grid_left h3 {
    text-transform: capitalize;
    font-size: 1.5em;
    color: #212121;
}

.w3l_about_bottom_grid_left p {
    color: #999;
    line-height: 2em;
    margin: 1em 0 3em;
}

.w3l_about_bottom_grid_left ol li {
    color: #999;
    margin-bottom: 1.5em;
    font-size: 1em;
    text-transform: capitalize;
}

.w3l_about_bottom_grid_left ol {
    padding-left: 1em;
    margin: 0;
}

.w3l_about_bottom_grid_left ol li:last-child {
    margin-bottom: 0;
}

.bar_group.group_ident-1 {
    z-index: 0;
    position: relative;
    width: 85%;
    margin: 0 auto;
}

.bar_group__bar.thin::before {
    display: block;
    content: '';
    position: absolute;
    z-index: -1;
}

.bar_group__bar.thin::before {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #E4E4E4;
}

.bar_group__bar.thin {
    width: 0%;
    height: 4px;
    border-radius: 2px;
    background: #FF9900;
    margin-bottom: 2em;
    -webkit-transition: width 1s;
    transition: width 1s;
    -o-transition: width 1s;
    -ms-transition: width 1s;
    -moz-transition: width 1s;
}

.bar_group .elastic {
    background: #FF9900;
    -webkit-transition-timing-function: cubic-bezier(0.5, 0.25, 0.375, 1.335);
    transition-timing-function: cubic-bezier(0.5, 0.25, 0.375, 1.335);
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

.bar_group.group_ident-1 p {
    color: #212121;
    margin-bottom: 1em;
    text-transform: uppercase;
}


/*-- //about-bottom --*/


/*--Typography--*/

.well {
    font-weight: 300;
    font-size: 14px;
}

.list-group-item {
    font-weight: 300;
    font-size: 14px;
}

li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}

.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}

.show-grid [class^=col-] {
    background: #fff;
    text-align: center;
    margin-bottom: 10px;
    line-height: 2em;
    border: 10px solid #f0f0f0;
}

.show-grid [class*="col-"]:hover {
    background: #e0e0e0;
}

.grid_3 {
    margin-bottom: 2em;
}

.xs h3,
h3.m_1 {
    color: #000;
    font-size: 1.7em;
    font-weight: 300;
    margin-bottom: 1em;
}

.grid_3 p {
    color: #999;
    font-size: 0.85em;
    margin-bottom: 1em;
    font-weight: 300;
}

.grid_4 {
    background: none;
    margin-top: 50px;
}

.label {
    font-weight: 300 !important;
    border-radius: 4px;
}

.grid_5 {
    background: none;
    padding: 2em 0;
}

.grid_5 h3,
.grid_5 h2,
.grid_5 h1,
.grid_5 h4,
.grid_5 h5,
h3.hdg,
h3.bars {
    margin-bottom: 1em;
    color: #ff9900;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    border-top: none !important;
}

.tab-content>.active {
    display: block;
    visibility: visible;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    z-index: 0;
}

.badge-primary {
    background-color: #03a9f4;
}

.badge-success {
    background-color: #8bc34a;
}

.badge-warning {
    background-color: #ffc107;
}

.badge-danger {
    background-color: #e51c23;
}

.grid_3 p {
    line-height: 2em;
    color: #888;
    font-size: 0.9em;
    margin-bottom: 1em;
    font-weight: 300;
}

.bs-docs-example {
    margin: 1em 0;
}

section#tables p {
    margin-top: 1em;
}

.tab-container .tab-content {
    border-radius: 0 2px 2px 2px;
    border: 1px solid #e0e0e0;
    padding: 16px;
    background-color: #ffffff;
}

.table td,
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 15px!important;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td {
    color: white;
    font-weight: bold;
}
.table>tbody>tr>td,
.table>tfoot>tr>td {
    font-size: 0.9em;
    color: rgb(0, 0, 0);
    border-top: none !important;
}

.tab-content>.active {
    display: block;
    visibility: visible;
}

.label {
    font-weight: 300 !important;
}

.label {
    padding: 4px 6px;
    border: none;
    text-shadow: none;
}

.nav-tabs {
    margin-bottom: 1em;
}

.alert {
    font-size: 0.85em;
}

h1.t-button,
h2.t-button,
h3.t-button,
h4.t-button,
h5.t-button {
    line-height: 1.8em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

li.list-group-item1 {
    line-height: 2.5em;
}

.input-group {
    margin-bottom: 20px;
}

.in-gp-tl {
    padding: 0;
}

.in-gp-tb {
    padding-right: 0;
}

.list-group {
    margin-bottom: 48px;
}

ol {
    margin-bottom: 44px;
}

h2.typoh2 {
    margin: 0 0 10px;
}

@media (max-width:768px) {
    .grid_5 {
        padding: 0 0 1em;
    }
    .grid_3 {
        margin-bottom: 0em;
    }
}

@media (max-width:640px) {
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .grid_5 h3,
    .grid_5 h2,
    .grid_5 h1,
    .grid_5 h4,
    .grid_5 h5,
    h3.hdg,
    h3.bars {
        margin-bottom: .5em;
    }
    .progress {
        height: 10px;
        margin-bottom: 10px;
    }
    ol.breadcrumb li,
    .grid_3 p,
    ul.list-group li,
    li.list-group-item1 {
        font-size: 14px;
    }
    .breadcrumb {
        margin-bottom: 10px;
    }
    .well {
        font-size: 14px;
        margin-bottom: 10px;
    }
    h2.typoh2 {
        font-size: 1.5em;
    }
    .label {
        font-size: 60%;
    }
}

@media (max-width:480px) {
    .banner {
        min-height: 405px;
    }
    .table h1 {
        font-size: 26px;
    }
    .table h2 {
        font-size: 23px;
    }
    .table h3 {
        font-size: 20px;
    }
    .label {
        font-size: 53%;
    }
    .alert,
    p {
        font-size: 14px;
    }
    .pagination {
        margin: 20px 0 0px;
    }
}

@media (max-width: 320px) {
    .grid_4 {
        margin-top: 18px;
    }
    h3.title {
        font-size: 1.6em;
    }
    .alert,
    p,
    ol.breadcrumb li,
    .grid_3 p,
    .well,
    ul.list-group li,
    li.list-group-item1,
    a.list-group-item {
        font-size: 13px;
    }
    .alert {
        padding: 10px;
        margin-bottom: 10px;
    }
    ul.pagination li a {
        font-size: 14px;
        padding: 5px 11px;
    }
    .list-group {
        margin-bottom: 10px;
    }
    .well {
        padding: 10px;
    }
    .nav>li>a {
        font-size: 14px;
    }
    table.table.table-striped,
    .table-bordered,
    .bs-docs-example {
        display: none;
    }
}


/*--//Typography --*/


/*-- mail --*/

.w3ls_map {
    margin: 3em 0;
}

.w3ls_map iframe {
    width: 100%;
    min-height: 300px;
}

.wthree_contact_left h4 {
    text-transform: capitalize;
    font-size: 1.5em;
    color: #ff9900;
    margin-bottom: 1.5em;
    font-weight: 600;
}

.wthree_contact_left p {
    color: #999;
    line-height: 1.8em;
    margin-bottom: 2em;
}

.wthree_contact_left p span {
    font-weight: 600;
    color: #212121;
}

.wthree_contact_left ul li {
    list-style-type: none;
    margin-bottom: 1em;
    color: #999;
}

.wthree_contact_left ul li span {
    padding-right: 1em;
    color: #ff9900;
}

.wthree_contact_left ul li a {
    color: #999;
    text-decoration: none;
}

.wthree_contact_left ul li a:hover {
    color: #212121;
}

.wthree_contact_left input[type="text"],
.wthree_contact_left input[type="email"],
.wthree_contact_left textarea {
    outline: none;
    padding: 10px;
    font-size: 14px;
    color: #212121;
    background: #f5f5f5;
    width: 100%;
    border: 1px solid #E6E6E6;
}

.wthree_contact_left input[type="text"]:nth-child(2),
.wthree_contact_left input[type="email"] {
    margin: 1em 0 0;
}

.wthree_contact_left textarea {
    min-height: 200px;
    margin: 1em 1.1em;
    width: 95.9% !important;
}

.wthree_contact_left input[type="submit"],
.wthree_contact_left input[type="reset"] {
    outline: none;
    padding: 10px 0;
    font-size: 14px;
    color: #fff;
    background: #ff9900;
    width: 46.6%;
    border: none;
    text-transform: uppercase;
    margin-left: 1.1em;
}

.wthree_contact_left input[type="submit"]:hover,
.wthree_contact_left input[type="reset"]:hover {
    background: #212121;
}


/*-- //mail --*/


/*-- single --*/

.agileits_recent_posts,
.agileits_twitter_posts,
.agileits_tags {
    padding: 2em;
    border: 5px solid #f5f5f5;
}

.agileits_recent_posts h3,
.agileits_twitter_posts h3,
.agileits_tags h3 {
    font-size: 1.3em;
    color: #ff9900;
    text-transform: uppercase;
    margin-bottom: 1.5em;
}

.agileits_recent_posts_gridl {
    float: left;
    width: 30%;
}

.agileits_recent_posts_gridr {
    float: right;
    width: 65%;
}

.agileits_recent_posts_gridr h4 a {
    font-size: 1em;
    text-decoration: none;
    color: #212121;
    line-height: 1.5em;
    text-transform: capitalize;
}

.agileits_recent_posts_gridr h4 a:hover {
    color: #999;
}

.agileits_recent_posts_gridr ul {
    padding: 0.3em 0 0;
}

.agileits_recent_posts_gridr ul li {
    display: inline-block;
    margin-right: 1.5em;
    color: #999;
}

.agileits_recent_posts_gridr ul li a {
    color: #999;
    text-decoration: none;
}

.agileits_recent_posts_gridr ul li a:hover {
    color: #ff9900;
}

.agileits_recent_posts_gridr ul li span {
    padding-right: .5em;
    color: #ff9900;
}

.agileits_recent_posts_grid:nth-child(3) {
    margin: 2em 0;
}

.agileits_recent_posts_grid:nth-child(4) {
    margin: 0em 0 2em;
}

.agileits_twitter_posts {
    margin: 3em 0;
}

.agileits_twitter_posts ul li {
    list-style-type: none;
    color: #999;
    line-height: 2em;
}

.agileits_twitter_posts ul li a {
    color: #212121;
    text-decoration: none;
}

.agileits_twitter_posts ul li a:hover {
    color: #ff9900;
}

.agileits_twitter_posts ul li i {
    display: block;
    color: #212121;
    background: url(../images/img-sp.png) no-repeat -246px -231px;
    padding-left: 2em;
}

.agileits_twitter_posts ul li span {
    margin-left: 2em;
    display: block;
}

.agileits_twitter_posts ul li:nth-child(2) {
    margin: 1.5em 0;
}

.agileits_tags ul li {
    display: inline-block;
    margin: 0 .5em .5em 0;
}

.agileits_tags ul li a {
    display: block;
    padding: .3em 1em;
    background: #f5f5f5;
    color: #212121;
    text-decoration: none;
}

.agileits_tags ul li a:hover {
    background: #ff9900;
    color: #fff;
}

.w3_comments ul li {
    display: inline-block;
    margin-right: 1.5em;
    color: #212121;
}

.w3_comments ul li a {
    color: #212121;
    text-decoration: none;
}

.w3_comments ul li a:hover {
    color: #ff9900;
}

.w3_comments ul li span {
    padding-right: 1em;
    color: #ff9900;
}

.agile_single_right h3 {
    margin: 2em 0;
    color: #212121;
    font-size: 1.4em;
    padding-left: 1.5em;
    line-height: 1.8em;
    border-left: 5px solid #ff9900;
}

.w3_comments_bottom img {
    width: 100%;
}

.w3_comments_bottom p {
    color: #999;
    line-height: 2em;
    margin: 2em 0;
}

.w3_comments_bottom p i {
    display: block;
    margin-bottom: 1em;
    color: #212121;
}

.agile_single_right_grid p {
    color: #999;
    line-height: 2em;
}

.agile_single_right_grid p span {
    display: block;
    margin: 1em 0 0;
    color: #ff9900;
}

.agile_single_right_grids_two_grid h4 {
    padding: 2em 2em 2em 4em;
    color: #212121;
    font-size: 1em;
    text-transform: capitalize;
    position: relative;
    line-height: 2em;
    background: #f5f5f5;
    margin: 2.5em 0 0;
}

.agile_single_right_grids_two_grid h4:before {
    content: '';
    width: 24px;
    height: 15px;
    background: url(../images/img-sp.png) no-repeat 0px -276px;
    display: block;
    position: absolute;
    top: 19%;
    left: 7%;
}

.agile_single_right_grids_two_grid p {
    padding: 1em;
    background: #F5F5F5;
    font-size: 1em;
    text-transform: uppercase;
    line-height: 1.5em;
    margin: 0;
    color: #999;
    text-align: center;
}

.agile_single_right_grids_two {
    margin: 2em 0 0em;
}

.w3agile_comments h4,
.agileinfo_write_reply h3 {
    font-size: 1.7em;
    color: #212121;
    margin-bottom: 1.5em;
    text-transform: uppercase;
}

.w3agile_grid_left {
    float: left;
    width: 15%;
}

.w3agile_grid_right {
    float: right;
    width: 80%;
}

.w3agile_grid_right h3 a {
    font-size: .8em;
    color: #FFA113;
    margin: 0;
    text-decoration: none;
}

.w3agile_grid_right h3 a:hover {
    color: #212121;
}

.w3agile_grid_right h5 {
    font-size: .8em;
    color: #999;
    margin: .5em 0 1em;
}

.w3agile_grid_right h5 span {
    padding-right: .5em;
}

.w3agile_grid_right p {
    margin: 0 0 1em;
    line-height: 2em;
    color: #999;
    width: 80%;
}

.reply a {
    font-size: 1em;
    color: #212121;
    text-decoration: none;
}

.reply a:hover {
    color: #FFA113;
}

.comments-grid:nth-child(3) {
    margin: 2em 0 0;
}

.agileinfo_write_reply {
    width: 85%;
}

.agileinfo_write_reply input[type="text"],
.agileinfo_write_reply input[type="email"],
.agileinfo_write_reply textarea {
    outline: none;
    width: 100%;
    background: #F3F3F3;
    padding: 10px;
    border: 1px solid #DBDBDB;
    font-size: 14px;
    color: #212121;
}

.agileinfo_write_reply textarea {
    min-height: 210px;
}

.agileinfo_write_reply input[type="submit"] {
    outline: none;
    width: 30%;
    background: #ff9900;
    padding: 10px 0;
    border: none;
    font-size: 1em;
    color: #fff;
    text-transform: uppercase;
    margin: 2em 0 0;
}

.agileinfo_write_reply input[type="submit"]:hover {
    background: #212121;
}

.agileinfo_write_reply_left {
    padding-left: 0;
    padding-right: 2em;
}

.agileinfo_write_reply input[type="email"] {
    margin: 1em 0;
}

.agileinfo_write_reply input[type="text"]:nth-child(4) {
    margin: 1em 0 0;
}


/*-- //single --*/


/*-- login --*/

.login {
    margin: 0 auto;
}

.login h3 {
    text-align: center;
    color: #212121;
    font-size: 1em;
    line-height: 2em;
    margin: .5em 0 0;
}

.login h3 a {
    color: #ff9900;
    text-decoration: none;
}

.login h3 a:hover {
    color: #212121;
}

.login form {
    width: 45%;
    margin: 3em auto 0;
}

.login input[type="text"],
.login input[type="password"],
.login input[type="email"] {
    outline: none;
    font-size: 14px;
    color: #212121;
    padding: 10px;
    border: 1px solid #DADADA;
    width: 100%;
    -webkit-appearance: none;
    background: #f5f5f5;
}

.login input[type="password"] {
    margin: 1em 0;
}

.w3agile_checkbox1 {
    float: left;
}

.w3agile_forgot {
    float: right;
}

.w3agile_forgot h4 a {
    font-size: .9em;
    color: #ff9900;
    text-decoration: none;
    display: block;
    margin: .3em 0 0;
}

.w3agile_forgot h4 a:hover {
    color: #212121;
}

label.checkbox {
    display: inline-block;
}

.checkbox {
    position: relative;
    font-weight: normal;
    color: #212121;
    padding: 0em 0em 0em 2.5em;
    margin: 0;
    font-size: 14px;
    line-height: 27px;
    cursor: pointer;
}

.checkbox i {
    font-size: 20px;
    font-weight: 400;
    color: #999;
    font-style: normal;
}

.checkbox i {
    position: absolute;
    bottom: 5px;
    left: 2px;
    display: block;
    width: 18px;
    height: 18px;
    outline: none;
    background: #fff;
    border: 1px solid #0C0C0C;
}

.checkbox input+i:after {
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s;
}

.checkbox input:checked+i:after {
    opacity: 1;
}

.checkbox input+i:after {
    content: '';
    background: url("../images/tick.png") no-repeat 2px 1px;
    top: 0px;
    left: 0px;
    width: 18px;
    height: 18px;
}

.checkbox input {
    position: absolute;
    left: -9999px;
}

.remember {
    margin: 1em 0 2em;
}

.login input[type="submit"] {
    background: #ff9900;
    color: #FFF;
    font-size: 1em;
    padding: 10px 0;
    width: 100%;
    outline: none;
    border: none;
}

.login input[type="submit"]:hover {
    background: #212121;
}

.agileits_social {
    margin: 2em auto 0;
    position: relative;
    text-align: center;
    width: 45%;
}

.agileits_social:before {
    content: '';
    background: #ff9900;
    height: 1px;
    width: 19%;
    position: absolute;
    top: 0%;
    left: 40%;
}

.agileits_social h5 {
    font-size: 1em;
    color: #212121;
    line-height: 1.5em;
    padding: 2em 0 3em;
}

.agileits_social h5 a {
    color: #ff9900;
    text-decoration: none;
}

.agileits_social h5 a:hover {
    color: #212121;
}

.agileits_social a.face,
.agileits_social a.twitt {
    color: #FFF;
    font-size: 1em;
    padding: .5em 1em;
    width: 37%;
    text-align: center;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    float: left;
    text-decoration: none;
}

.agileits_social a.face {
    background: url(../images/4.png) no-repeat 27px 11px #3b5998;
    display: block;
    margin-left: 3.5em;
}

.agileits_social a.face:hover {
    background: url(../images/4.png) no-repeat 27px 11px #5175C1;
}

.agileits_social a.twitt {
    background: url(../images/5.png) no-repeat 27px 11px #55acee;
    display: block;
    margin-left: 2em;
}

.agileits_social a.twitt:hover {
    background: url(../images/5.png) no-repeat 27px 11px #509ed9;
}

.login input[type="email"] {
    margin-top: 1em;
}

.agile_back_home {
    margin: 4em 0 0;
    text-align: center;
}

.agile_back_home a {
    padding: 10px 35px;
    color: #212121;
    border: 1px solid #212121;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}

.agile_back_home a:hover {
    background: #ff9900;
    color: #fff;
    border-color: #ff9900;
}


/*-- //login --*/


/*-----start-responsive-design------*/

@media (max-width:1680px) {
    .agile_banner_bottom1_right {
        padding: 8em 13em 5em 5em;
    }
}

@media (max-width:1600px) {
    .agile_banner_bottom1_right {
        padding: 6em 13em 5em 5em;
    }
}

@media (max-width: 1440px) {
    .agile_banner_bottom1_right {
        padding: 5.5em 5em 5em 5em;
    }
}

@media (max-width: 1366px) {
    .banner {
        min-height: 610px;
    }
    .w3ls_banner_info {
        width: 75%;
        margin: 9.5em auto 0;
    }
    .agile_banner_bottom1_right {
        padding: 5em 4em 5em 2em;
    }
}

@media (max-width: 1280px) {
    .agile_banner_bottom1_right {
        padding: 4em 4em 4em 2em;
    }
}

@media (max-width: 1080px) {
    .logo_nav {
        padding: 1em 0;
    }
    .w3ls_banner_info h2 {
        font-size: 3.8em;
    }
    .w3ls_banner_info p {
        width: 100%;
    }
    .w3ls_banner_info {
        margin: 7.5em auto 0;
    }
    .banner {
        min-height: 550px;
    }
    .wthree_more1 .button--wayra {
        margin-left: 20em;
    }
    .agile_text_box h3 {
        font-size: 1em;
    }
    .agile_text_box p {
        width: 100%;
    }
    .view img {
        width: 100%;
        min-height: 210px;
    }
    .agile_banner_bottom1_right h3 {
        font-size: 1.5em;
    }
    .agile_banner_bottom1_right {
        padding: 2em 2em 2em 2em;
    }
    .agile_banner_bottom1_right p {
        margin: 1em 0 1.3em;
    }
    .agileits_news_grid_left_gridr h4 a {
        font-size: 1em;
    }
    div#loadMore {
        margin-left: 10.8em;
    }
    .w3_testimonials_grids {
        width: 90%;
    }
    .w3agile_footer_grid:nth-child(3) {
        padding-left: 2em;
    }
    .w3agile_footer_grid:nth-child(2) {
        padding-left: 3em;
    }
    .w3agile_footer_grid h2 a {
        font-size: 1.2em;
    }
    .banner1 {
        min-height: 260px;
    }
    .w3l_services_grid1 h4 a {
        font-size: .96em;
    }
    .w3ls_services_bottom_left,
    .w3ls_services_bottom_left_gridl {
        padding: 0;
    }
    .w3ls_services_bottom_left_gridr1 {
        margin: 0.5em auto 0;
    }
    .wthree_more2 a {
        width: 60% !important;
        text-align: center !important;
    }
    .agile_single_left {
        padding-left: 0;
    }
    .agileits_recent_posts,
    .agileits_twitter_posts,
    .agileits_tags {
        padding: 1.5em;
    }
    .agileits_recent_posts_gridr h4 a {
        font-size: .92em;
    }
    .agile_single_right_grids_two_grid h4 {
        margin: 0;
    }
    .agile_single_right_grids_two_grid p {
        font-size: 14px;
    }
    .agile_about_grid_right h4 {
        font-size: 1.5em;
    }
    .w3l_about_bottom_grid_left h3 {
        line-height: 1.5em;
    }
    .w3l_about_bottom_grid_left p {
        margin: 1em 0 2em;
    }
    .news h3,
    .testimonials h3,
    .services h3,
    .special-services h3,
    .about h3,
    h3.title,
    .mail h3,
    .login h6 {
        width: 31%;
    }
    .wthree_contact_left textarea {
        width: 95% !important;
    }
    .wthree_contact_left input[type="submit"],
    .wthree_contact_left input[type="reset"] {
        width: 45.8%;
    }
    .login form,
    .agileits_social {
        width: 55%;
    }
    .navbar-brand {
        line-height: 50px;
    }
    .navbar-nav>li>a {
        margin: 1.2em 0 0;
    }
    .banner_bottom_left h3 {
        font-size: 1.8em;
    }
    .agileinfo_write_reply {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .agile_banner_bottom1_right h3 {
        font-size: 1.3em;
    }
    .agile_banner_bottom1_right {
        padding: 1.5em 2em 2em 1em;
    }
    .banner-bottom,
    .news,
    .login,
    .single,
    .w3agile_comments,
    .testimonials,
    .services,
    .about-bottom,
    .mail,
    .typo,
    .services-bottom,
    .special-services,
    .about,
    .about-counter {
        padding: 4em 0;
    }
    .agileits_news_grid_left {
        padding: 0 1em;
    }
    .agileinfo_copy_right_right {
        width: 23%;
    }
    .about-counter {
        min-height: 275px;
    }
}

@media (max-width: 991px) {
    .w3l_header_left ul li {
        padding: 1em 1em 1em 0;
    }
    .w3l_header_left ul li:first-child {
        margin-right: 1em;
    }
    .w3l_header_left ul {
        padding: 0em 0 0 1em;
    }
    .search-button2 {
        margin: 14px 10px;
    }
    .search-box2 {
        width: 314px;
    }
    .search-box2 input[type=text] {
        width: 180px;
    }
    .navbar-brand {
        font-size: 1.1em;
    }
    .w3ls_banner_info h2 {
        font-size: 3.5em;
    }
    .w3ls_banner_info {
        margin: 5.5em auto 0;
        padding: 2em;
        width: 85%;
    }
    .banner {
        min-height: 460px;
    }
    .banner_bottom_left {
        margin-top: 0;
    }
    .wthree_more1 .button--wayra {
        margin-left: 32em;
    }
    .banner_bottom_right {
        margin: 3em 0 0;
    }
    .banner_bottom_right_grid {
        float: left;
        width: 50%;
    }
    .agile_text_box h3 {
        font-size: 1.2em;
    }
    .view img {
        min-height: auto;
    }
    .agile_banner_bottom1_left img {
        width: auto;
        margin: 0 auto;
    }
    .agile_banner_bottom1_right {
        padding: 3em 6em;
        background: #ff9c47;
    }
    .banner-bottom1 {
        background: #fff;
    }
    .agile_banner_bottom1_right h3 {
        font-size: 1.7em;
    }
    .news h3,
    .testimonials h3,
    .services h3,
    .special-services h3,
    .about h3,
    h3.title,
    .mail h3,
    .login h6 {
        width: 40%;
        font-size: 1.7em;
    }
    .agileits_news_grid_left:nth-child(2) {
        margin: 2em 0 0;
    }
    div#loadMore {
        margin-left: 15.8em;
    }
    .w3_testimonials_grids {
        width: 100%;
    }
    .navbar-nav>li>a {
        padding: 0 16px;
    }
    .w3agile_footer_grid {
        float: left;
        width: 50%;
    }
    .w3agile_footer_grid:nth-child(3) {
        padding-left: 0em;
    }
    .w3agile_footer_grid:nth-child(2) {
        padding-left: 3em;
    }
    .w3agile_footer_grid:nth-child(4),
    .w3agile_footer_grid:nth-child(3) {
        border-top: 1px solid #5c5c5c;
        padding-top: 2em;
    }
    .w3agile_footer_grid:nth-child(2) {
        border-right: none;
    }
    .agileinfo_copy_right_right {
        width: 28%;
    }
    .agile_single_left {
        padding-left: 1em;
        width: 70%;
        margin: 0 auto;
    }
    .agile_single_right {
        margin: 3em 0 0;
    }
    .agile_single_right_grid:nth-child(2) {
        margin: 2em 0 0;
    }
    .agile_single_right_grids_two_grid h4 {
        margin: 1em 0 0;
    }
    .agile_single_right_grids_two_grid h4:before {
        left: 4%;
    }
    .w3agile_grid_right p {
        width: 100%;
    }
    .agileinfo_write_reply_left:nth-child(2) {
        margin: 1em 0 0;
    }
    .agileinfo_write_reply input[type="submit"] {
        width: 45%;
    }
    .w3l_services_grid {
        float: left;
        width: 50%;
    }
    .w3l_services_grid:nth-child(2) {
        margin-bottom: 2em;
    }
    .w3l_services_grids:nth-child(3) {
        margin: 4em 0 2em;
    }
    .w3ls_services_bottom_left:nth-child(3) {
        margin: 2em 0 0;
    }
    .special-services h3 {
        width: 45% !important;
    }
    .wthree_special_service_left {
        width: 60%;
        margin: 0 auto;
    }
    .wthree_special_service_left h4 {
        margin: 1em 0 1.5em;
    }
    .wthree_special_service_left:nth-child(2) {
        margin: 3em auto;
    }
    .agile_about_grid_left1 {
        float: left;
        width: 50%;
    }
    .agile_about_grid_right {
        margin: 3em 0 0;
    }
    .about_counter_left {
        float: left;
        width: 25%;
    }
    .about_counter_left p {
        font-size: 2em;
    }
    .about_counter_left h3 {
        font-size: 1.1em;
    }
    .about-counter {
        min-height: 255px;
    }
    .bar_group.group_ident-1 {
        margin: 0;
    }
    .w3l_about_bottom_grid_right {
        margin: 3em 0 0;
    }
    .wthree_contact_left {
        margin: 2em 0 0;
    }
    .wthree_contact_left_grid:nth-child(2) {
        margin: 1em 0 0;
    }
    .wthree_contact_left textarea {
        width: 95.5% !important;
    }
    .wthree_contact_left input[type="submit"],
    .wthree_contact_left input[type="reset"] {
        width: 46.3%;
    }
    .w3ls_map {
        margin: 3em 0 2em;
    }
    .wthree_contact_left:nth-child(5) {
        margin: 2em 0 0;
    }
    .wthree_contact_left p {
        margin-bottom: 1em;
    }
    .login form,
    .agileits_social {
        width: 75%;
    }
    .agile_banner_bottom1_right {
        padding: 3em 3em;
    }
    .agileinfo_copy_right_right {
        width: 30%;
    }
    .agile_single_right_grids_two_grid img {
        width: 100%;
    }
    .w3ls_services_bottom_left_gridr {
        float: right;
    }
    .w3ls_services_bottom_left_gridl1 {
        text-align: right !important;
    }
}

@media (max-width: 768px) {
    .w3agile_footer_grid:nth-child(3) {
        padding-left: 1em;
    }
    .agileinfo_copy_right_right {
        width: 33%;
    }
}

@media (max-width: 767px) {
    .navbar-toggle {
        margin: .6em 0 0;
    }
    .navbar-default .navbar-toggle {
        border-color: #212121;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #212121;
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }
    .navbar-nav {
        float: none;
        text-align: center;
        background: #f5f5f5;
        padding-bottom: 1em;
    }
    .navbar-nav>li>a {
        padding: 0;
        display: inline-block;
    }
}

@media (max-width: 736px) {
    .search-box2 {
        width: 283px;
    }
    .search-box2 input[type=submit] {
        padding: 10px 15px;
    }
    .search-box2 input[type=text] {
        width: 157px;
    }
    .search-button2 {
        margin: 17px 5px 0;
    }
    .w3ls_banner_info h2 {
        font-size: 3.2em;
    }
    .w3ls_banner_info {
        margin: 4.5em auto 0;
        width: 90%;
    }
    .banner {
        min-height: 400px;
    }
    .wthree_more1 .button--wayra {
        margin-left: 30em;
    }
    .agile_banner_bottom1_left {
        padding-left: 1em;
    }
    div#loadMore {
        margin-left: 15.3em;
    }
    .w3_testimonials_grid h4 {
        width: 85%;
    }
    .agileinfo_copy_right_right {
        width: 34%;
    }
}

@media (max-width: 667px) {
    .w3l_header_left ul li:first-child {
        margin-right: 1em;
    }
    .w3l_header_left ul li {
        padding: 1em 1em 1em 0;
    }
    .w3l_header_left ul {
        padding: 0;
    }
    .w3l_header_right ul {
        padding: 0;
    }
    .w3l_header_right {
        margin: 0 0 1em 12.5em;
        float: left;
    }
    .search-box2 input[type=submit] {
        padding: 8px 12px;
        font-size: 13px;
    }
    .search-box2 input[type=text] {
        width: 130px;
        padding: 8px 10px;
        font-size: 13px;
    }
    .search-button2 {
        margin: 15px 0 0 10px;
    }
    .search-box2 {
        height: 44px;
        padding: 5px;
        width: 232px;
    }
    .search-box2 img {
        margin: .3em 0 0 0.2em;
    }
    .w3l_header_left ul li {
        border-right: none;
    }
    .w3l_header_left ul {
        border-left: none;
    }
    .wthree_more1 .button--wayra {
        margin-left: 27em;
    }
    .agile_banner_bottom1_right {
        padding: 2em 3em 3em;
    }
    .w3_testimonials_grid h4 {
        width: 95%;
    }
    .agileinfo_copy_right_right {
        width: 37%;
    }
}

@media (max-width: 640px) {
    .w3l_header_left {
        float: none;
    }
    .w3l_header_left ul li:first-child {
        margin-left: 7em;
    }
    .search-button2 {
        margin: 6px 0 0 115px;
    }
    .search-box2 {
        height: 40px;
        width: 300px;
    }
    .search-box2 input[type=text] {
        width: 196px;
        padding: 6px 10px;
    }
    .search-box2 img {
        margin: .1em 0 0 0.2em;
    }
    .search-box2 input[type=submit] {
        padding: 6px 12px;
    }
    .navbar-brand {
        line-height: 25px;
        height: 35px;
        font-size: 1em;
    }
    .navbar-toggle {
        margin: .1em 0 0;
    }
    .navbar {
        min-height: 37px;
    }
    .w3ls_banner_info h2 {
        letter-spacing: 5px;
    }
    .w3ls_banner_info {
        padding: 1.5em;
    }
    .w3ls_banner_info p {
        margin: 1em auto 1.5em;
    }
    .banner_bottom_left h3 {
        font-size: 1.6em;
    }
    .banner-bottom,
    .news,
    .login,
    .single,
    .w3agile_comments,
    .testimonials,
    .services,
    .about-bottom,
    .mail,
    .typo,
    .services-bottom,
    .special-services,
    .about,
    .about-counter {
        padding: 3em 0;
    }
    .wthree_more1 .button--wayra {
        margin-left: 26em;
    }
    .agile_banner_bottom1_right h3 {
        font-size: 1.5em;
    }
    .agile_banner_bottom1_right {
        padding: 2em 2em 3em;
    }
    div#loadMore {
        margin-left: 13em;
    }
    .agileinfo_copy_right_left {
        float: none;
        text-align: center;
        margin-bottom: 1em;
    }
    .agileinfo_copy_right_right {
        width: 100%;
        float: none;
        text-align: center;
    }
    .banner1 {
        min-height: 180px;
    }
    .agileits_recent_posts_gridr {
        width: 60%;
    }
    .w3agile_comments h4,
    .agileinfo_write_reply h3 {
        font-size: 1.5em;
    }
    .services-bottom h3 {
        font-size: 1.6em;
    }
    .special-services h3 {
        width: 55% !important;
    }
    .about_counter_left h3 {
        font-size: 1em;
    }
    .about_counter_left i {
        font-size: 1.7em;
    }
    .about-counter {
        min-height: 210px;
    }
    .news h3,
    .testimonials h3,
    .services h3,
    .special-services h3,
    .about h3,
    h3.title,
    .mail h3,
    .login h6 {
        width: 45%;
    }
    .w3ls_map iframe {
        min-height: 250px;
    }
    .wthree_contact_left h4 {
        font-size: 1.3em;
    }
    .wthree_contact_left_grid {
        padding: 0;
    }
    .wthree_contact_left textarea {
        width: 100% !important;
        margin: 1em 0;
    }
    .wthree_contact_left input[type="submit"] {
        margin-left: 0;
    }
    .wthree_contact_left input[type="reset"] {
        margin-left: 1em;
    }
    .wthree_contact_left input[type="submit"],
    .wthree_contact_left input[type="reset"] {
        width: 48.3%;
    }
    .footer {
        padding: 2.5em 0;
    }
    .login form {
        margin: 2em auto 0;
    }
    .agileits_social a.face {
        margin-left: 3em;
    }
    .agileits_social h5 {
        padding: 1.5em 0 2em;
    }
    .agile_back_home {
        margin: 3em 0 0;
    }
}

@media (max-width: 600px) {
    .banner_bottom_left p {
        margin-bottom: 2em;
    }
    .wthree_more1 .button--wayra {
        margin-left: 24em;
    }
    div#loadMore {
        margin-left: 12em;
    }
    .w3_testimonials_grid h4 {
        width: 100%;
        padding-left: 1.5em;
        font-size: 1.1em;
    }
    .view img {
        min-height: 217px;
    }
    .w3l_header_right {
        margin: 0 0 1em 11.5em;
    }
}

@media (max-width: 568px) {
    .w3l_header_left ul li:first-child {
        margin-left: 6em;
    }
    .w3ls_banner_info {
        padding: 1.5em;
        width: 95%;
        margin: 3em auto 0;
    }
    .w3ls_banner_info h2 {
        font-size: 3em;
    }
    .banner {
        min-height: 350px;
    }
    .wthree_more1 .button--wayra {
        margin-left: 22.5em;
    }
    .banner_bottom_right {
        padding: 0;
    }
    .news h3,
    .testimonials h3,
    .services h3,
    .special-services h3,
    .about h3,
    h3.title,
    .mail h3,
    .login h6 {
        width: 55%;
        font-size: 1.6em;
    }
    .w3_testimonials_grids {
        margin: 2em auto 0;
    }
    .w3l_header_right {
        margin: 0 0 1em 10.5em;
    }
}

@media (max-width: 480px) {
    .w3l_header_left ul li:first-child {
        margin-left: 2.5em;
    }
    .w3l_header_right {
        margin: 0 0 1em 8.5em;
    }
    .search-button2 {
        margin: 6px 0 0 80px;
    }
    .w3ls_banner_info h2 {
        font-size: 2.5em;
    }
    .button--wayra {
        width: 50%;
    }
    .banner {
        min-height: 340px;
        background-position: -110px 0px;
    }
    .banner_bottom_left h3 {
        font-size: 1.5em;
    }
    .banner_bottom_left {
        padding: 0;
    }
    .banner-bottom,
    .news,
    .login,
    .single,
    .w3agile_comments,
    .testimonials,
    .services,
    .about-bottom,
    .mail,
    .typo,
    .services-bottom,
    .special-services,
    .about,
    .about-counter {
        padding: 2em 0;
    }
    .wthree_more1 .button--wayra {
        margin-left: 15em;
    }
    .banner_bottom_right_grid {
        float: none;
        width: 70%;
        margin: 0 auto;
        padding: 0 1em;
    }
    .banner_bottom_right_grid:nth-child(2) {
        margin: 1em auto 0;
    }
    .view img {
        min-height: auto;
    }
    .agileits_news_grids {
        margin: 2em 0 0;
    }
    p.quia {
        font-size: 14px !important;
    }
    div#loadMore {
        margin-left: 10em;
        margin-right: .3em;
    }
    #myList li {
        margin-bottom: 2em;
    }
    .news h3,
    .testimonials h3,
    .services h3,
    .special-services h3,
    .about h3,
    h3.title,
    .mail h3,
    .login h6 {
        font-size: 1.4em;
    }
    .w3agile_footer_grid {
        float: none;
        width: 100%;
    }
    .w3agile_footer_grid:nth-child(2) {
        margin: 2em 0;
        border-left: none;
        padding-left: 1em;
        border-top: 1px solid #5c5c5c;
        padding-top: 2em;
    }
    .w3agile_footer_grid:nth-child(3) {
        padding-bottom: 2em;
        border-right: none;
    }
    .w3agile_footer_grid:nth-child(4) {
        padding-left: 1em;
    }
    .agile_single_left {
        width: 100%;
    }
    .agileits_twitter_posts {
        margin: 2em 0;
    }
    .w3_comments ul li {
        margin-right: 1em;
        margin-bottom: .5em;
    }
    .agile_single_right h3 {
        margin: 1.5em 0;
        font-size: 1.2em;
    }
    .w3l_services_grids:nth-child(3) {
        margin: 3em 0 2em;
    }
    .w3l_services_grid {
        float: none;
        width: 100%;
    }
    .w3l_services_grid:nth-child(2) {
        margin: 2em 0;
    }
    .w3l_services_grid:nth-child(3) {
        margin-bottom: 2em;
    }
    .services-bottom h3 {
        font-size: 1.5em;
    }
    .w3ls_services_bottom_left_gridl h4 a {
        font-size: 1em;
    }
    .special-services h3 {
        width: 60% !important;
    }
    .wthree_special_service_left {
        width: 100%;
    }
    .agileinfo_write_reply_left {
        padding-right: 0em;
    }
    .agileinfo_write_reply input[type="submit"] {
        width: 100%;
        font-size: 14px;
    }
    .agile_about_grid_left,
    .agile_about_grid_right {
        padding: 0;
    }
    .agile_about_grid_left1 {
        float: none;
        width: 100%;
    }
    .agile_about_grid_left1:nth-child(2) {
        margin: 1em 0 0;
    }
    .agile_about_grid_left_img {
        padding: 1em 1em 0;
    }
    .agile_about_grid_right {
        margin: 2em 0 0;
    }
    .agile_about_grid_right p {
        margin: 1em 0 2em;
    }
    .about_counter_left {
        width: 50%;
    }
    .about_counter_left:nth-child(2) {
        margin-bottom: 2em;
    }
    .w3l_about_bottom_grid_left h3 {
        font-size: 1.3em;
    }
    .w3l_about_bottom_grid_left ol li {
        font-size: 14px;
    }
    .w3l_about_bottom_grid_left p {
        margin: 1em 0 1.5em;
    }
    .bar_group.group_ident-1 {
        width: 100%;
    }
    .w3agile_comments {
        margin: 1em 0;
    }
    .agile_about_grids {
        margin: 3em 0 0;
    }
    .wthree_contact_left input[type="reset"] {
        margin-left: .6em;
    }
    .login form,
    .agileits_social {
        width: 95%;
    }
    .agileits_social a.face {
        margin-left: 2.7em;
    }
    .agile_back_home {
        margin: 3em 0 1em;
    }
}

@media (max-width: 414px) {
    .w3l_header_left ul li:first-child {
        margin-right: .5em;
        margin-left: 0;
    }
    .w3l_header_left ul li {
        padding: 1em .5em 1em 0;
    }
    .w3l_header_right {
        margin: 0 0 1em 5.5em;
    }
    .search-button2 {
        margin: 6px 0 0 45px;
    }
    .w3ls_banner_info p {
        font-size: 13px;
    }
    .w3ls_banner_info {
        margin: 2.5em auto 0;
    }
    .wthree_more1 .button--wayra {
        margin-left: 13em;
    }
    .banner_bottom_right_grid {
        width: 85%;
    }
    .agile_banner_bottom1_right h3 {
        font-size: 1.3em;
    }
    .agileits_news_grid_left_gridr {
        width: 75%;
    }
    .agileits_news_grid_left {
        padding: 0;
    }
    .agileits_news_grid_left_gridr h4 a {
        font-size: .9em;
    }
    div#loadMore {
        margin-left: 0;
        margin-right: .5em;
    }
    #loadMore,
    #showLess {
        font-size: 13px;
    }
    .news h3,
    .testimonials h3,
    .services h3,
    .special-services h3,
    .about h3,
    h3.title,
    .mail h3,
    .login h6 {
        width: 70%;
    }
    .w3agile_footer_grid h3 {
        font-size: 1.5em;
    }
    .w3agile_footer_grid h3:before {
        width: 20%;
    }
    .footer {
        padding: 2em 0;
    }
    .w3agile_footer_grid h2 a {
        font-size: 1.1em;
    }
    .w3agile_footer_grid h2 {
        margin: .5em 0 0;
    }
    ul.w3agile_footer_grid_list li:last-child {
        margin-bottom: 0;
    }
    .agile_single_right,
    .agile_single_right_grid,
    .agile_single_right_grids_two_grid {
        padding: 0;
    }
    .w3agile_comments h4,
    .agileinfo_write_reply h3 {
        font-size: 1.3em;
    }
    .w3agile_grid_left {
        width: 25%;
    }
    .w3agile_grid_right {
        width: 68%;
    }
    .w3agile_grid_right h3 a {
        font-size: .7em;
    }
    .w3ls_services_bottom_left_gridr {
        width: 25%;
    }
    .w3ls_services_bottom_left_gridl {
        width: 74%;
    }
    .special-services h3 {
        width: 75% !important;
    }
    .wthree_contact_left input[type="submit"],
    .wthree_contact_left input[type="reset"] {
        width: 100%;
    }
    .wthree_contact_left input[type="reset"] {
        margin: 1em 0 0;
    }
    .login h3 {
        font-size: 14px;
    }
    .agileits_social a.face,
    .agileits_social a.twitt {
        font-size: 14px;
        width: 47%;
    }
    .agileits_social a.face {
        margin-left: 0.8em;
    }
    .agileits_social a.twitt {
        margin-left: 0.5em;
    }
    .navbar-brand span {
        line-height: 1.1;
    }
    .button--wayra {
        width: 51%;
    }
}

@media (max-width: 384px) {
    .w3l_header_left ul li:first-child {
        margin-right: 0.2em;
    }
    .w3l_header_left ul li {
        padding: 1em 0.5em 1em 0;
        font-size: 13px;
    }
    .w3l_header_right ul li {
        font-size: 13px;
    }
    .navbar-brand {
        line-height: 38px;
        height: 36px;
        font-size: .9em;
    }
    .w3ls_banner_info h2 {
        font-size: 2.1em;
        letter-spacing: 3px;
    }
    .button--wayra {
        width: 65%;
    }
    .wthree_more1 .button--wayra {
        margin-left: 8em;
    }
    .agileits_news_grid_left_gridl {
        width: 25%;
    }
    .agileits_news_grid_left_gridr {
        width: 68%;
    }
    .agileits_news_grid_left_gridr h4 a {
        letter-spacing: 1px;
    }
    .w3ls_services_bottom_left_gridl h4 a {
        line-height: 1.5em;
    }
    .services-bottom h3 {
        font-size: 1.4em;
    }
    .wthree_special_service_left h4 {
        font-size: 1.2em;
    }
    .agileits_recent_posts_gridr {
        width: 63%;
    }
    .agileits_tags ul li {
        margin: 0 .1em .5em 0;
    }
    .agile_about_grids {
        margin: 2em 0 0;
    }
    .agile_about_grid_right h4 {
        font-size: 1.3em;
    }
    .w3ls_map {
        margin: 2em 0 2em;
    }
    .w3ls_map iframe {
        min-height: 200px;
    }
    .wthree_contact_left {
        padding: 0;
    }
}

@media (max-width: 375px) {
    .w3l_header_left ul li span {
        margin-right: .5em;
    }
    .search-button2 {
        margin: 6px 0 0 20px;
    }
    .wthree_more a {
        padding: 8px 30px;
        font-size: 13px;
    }
    .banner_bottom_right_grid {
        width: 100%;
    }
    .agileits_recent_posts h3,
    .agileits_twitter_posts h3,
    .agileits_tags h3 {
        font-size: 1.2em;
    }
    .agile_single_left {
        padding: 0;
    }
    .agile_single_right h3 {
        font-size: 1em;
    }
    .w3_comments_bottom p {
        margin: 1em 0 0;
    }
    .agile_single_right_grid:nth-child(2),
    .agile_single_right_grids_two {
        margin: 1em 0 0;
    }
    .w3agile_comments h4,
    .agileinfo_write_reply h3 {
        font-size: 1.1em;
    }
    .w3ls_services_bottom_left_gridr1 {
        width: 50px;
        height: 50px;
    }
    .w3ls_services_bottom_left_gridr1 h4 {
        font-size: 1em;
    }
    .special-services h3 {
        width: 85% !important;
    }
    .wthree_special_services {
        margin: 2em 0 0;
    }
    .about_counter_left p {
        font-size: 1.7em;
    }
    .w3l_about_bottom_grid_left {
        padding: 0;
    }
    .w3l_about_bottom_grid_left h3 {
        font-size: 1.2em;
    }
    .button--wayra {
        width: 66%;
    }
}

@media (max-width: 320px) {
    .w3l_header_left ul li span {
        margin-right: 1em;
    }
    .w3l_header_left ul li:first-child {
        margin-right: 0;
    }
    .w3l_header_left ul li {
        padding: 0em 0em 1em 0;
    }
    .w3l_header_left ul {
        padding: 1em 0 0;
        text-align: center;
    }
    .search-button2 {
        margin: 6px 0 0 0px;
    }
    .w3l_header_right {
        margin: 0 0 1em 2.5em;
    }
    .search-box2 {
        width: 273px;
    }
    .search-box2 input[type=text] {
        width: 170px;
    }
    .search-button2 span {
        margin: 0;
    }
    .w3ls_banner_info h2 {
        font-size: 1.8em;
        letter-spacing: 2px;
    }
    .w3ls_banner_info {
        margin: 2em auto 0;
        padding: 1em;
        width: 100%;
    }
    .banner {
        min-height: 295px;
    }
    p,
    ul li {
        font-size: 13px;
    }
    .navbar-brand {
        font-size: .8em;
    }
    .banner_bottom_left h3 {
        font-size: 1.3em;
    }
    .wthree_more1 .button--wayra {
        margin-left: 7em;
    }
    .agile_text_box h3 {
        font-size: 1.1em;
        margin: 0.5em 0;
    }
    .agile_banner_bottom1_right h3 {
        font-size: 1.1em;
    }
    .agile_banner_bottom1_right {
        padding: 1.5em 1em;
    }
    .agileits_news_grid_left_gridl p span,
    .checkbox,
    .w3agile_forgot h4 a,
    .login input[type="text"],
    .login input[type="password"],
    .login input[type="email"],
    .wthree_contact_left input[type="text"],
    .wthree_contact_left input[type="email"],
    .wthree_contact_left textarea,
    .agileinfo_write_reply input[type="text"],
    .agileinfo_write_reply input[type="email"],
    .agileinfo_write_reply textarea {
        font-size: 13px;
    }
    .agileits_news_grid_left_gridr h4 a {
        font-size: .83em;
        letter-spacing: 0;
    }
    #loadMore,
    #showLess {
        padding: 8px 25px;
    }
    .news h3,
    .testimonials h3,
    .services h3,
    .special-services h3,
    .about h3,
    h3.title,
    .mail h3,
    .login h6 {
        width: 85%;
        font-size: 1.3em;
    }
    p.quia {
        font-size: 13px !important;
    }
    .w3agile_footer_grid ul li {
        margin-bottom: 0.5em;
    }
    .banner1 {
        min-height: 115px;
    }
    .services-breadcrumb {
        padding: 0.5em 0;
    }
    .agileits_recent_posts,
    .agileits_twitter_posts,
    .agileits_tags {
        padding: 1em;
    }
    .agileits_recent_posts h3,
    .agileits_twitter_posts h3,
    .agileits_tags h3 {
        font-size: 1.1em;
    }
    .agileits_recent_posts_gridr h4 a {
        font-size: .86em;
    }
    .agile_single_right_grids_two_grid h4 {
        padding: 1em 1em 1em 3em;
    }
    .agile_single_right_grids_two_grid h4:before {
        top: 10%;
    }
    .agileinfo_write_reply textarea {
        min-height: 180px;
    }
    .services-bottom h3 {
        font-size: 1.2em;
    }
    .w3ls_services_bottom_left_gridl h4 a {
        font-size: .9em;
    }
    .w3ls_services_bottom_left_gridr {
        padding-right: 0;
    }
    .wthree_special_service_left h4 {
        font-size: 1.1em;
    }
    .agile_about_grid_right h4 {
        font-size: 1.2em;
    }
    .about_counter_left h3 {
        font-size: 0.95em;
    }
    .w3agile_checkbox1,
    .w3agile_forgot {
        float: none;
    }
    .remember {
        margin: 0.5em 0 1.5em;
    }
    .login input[type="submit"] {
        font-size: 14px;
    }
    .agileits_social:before {
        width: 40%;
        left: 30%;
    }
    .agileits_social h5 {
        padding: 1.5em 0 2em;
        font-size: 14px;
    }
    .agileits_social a.face {
        margin-left: 0.3em;
    }
    .agileits_social a.face {
        background: url(../images/4.png) no-repeat 14px 9px #3b5998;
    }
    .agileits_social a.twitt {
        background: url(../images/5.png) no-repeat 14px 10px #55acee;
    }
    .agile_back_home a {
        padding: 8px 30px;
    }
}

h6.consulta_poliza {
    font-size: 22px;
    color: #0033A0;
    text-align: center;
}

.poliza {
    background: rgba(19, 35, 47, 0.9);
    padding: 40px;
    width: 500px;
    min-height: 400px;
    margin: 20px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgb(19 35 47 / 10%);
}

.bg-white {
    background-color: #fff !important;
}

.auto {
    justify-content: center;
}

.btn_validar {
    outline: none;
    padding: 10px 0;
    font-size: 14px;
    color: #fff;
    background: #ff9900;
    width: 100%;
    border: none;
    text-transform: uppercase;
    border-radius: 20px;
}

.btn_validar:hover {
    background: #000000;
}

.contacto_siniestro {
    width: 460px;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    padding-bottom: 20px;
    background-color: #fbfbfb;
    padding-left: 30px;
}

.input_siniestro {
    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ff9900;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.text_tarea {
    background-color: #fbfbfb;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ff9900;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
}

.label_siniestro {
    display: block;
    float: center;
}

.button_siniestro {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #ff9900;
    border-color: #FFFFFF;
    border-style: solid;
    border-radius: 10px;
    width: 420px;
    cursor: pointer;
}

button p {
    color: #fff;
}

.button_siniestro:hover {
    background: #000000;
}

.obligatorio {
    color: red;
}

.ache1 {
    font-size: 39px;
    text-align: letf;
    padding-bottom: 20px;
    color: #ff9900;
}

.ache2 {
    font-size: 16px;
    padding-bottom: 30px;
    color: #0e0e0e;
}

.title_denuncia {
    text-align: center;
    color: #212121;
    font-size: 2em;
    font-weight: 600;
    padding: .5em 1em;
    /*box-shadow: 0px 0px 2px #b0b0b0;*/
    text-transform: uppercase;
    width: 30%;
    margin: 0 auto;
}

a.button_finalizar {
    border-radius: 5px;
    padding: 10px 7px;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    margin: 5px;
}

.titulo_denuncia {
    color: #ff9900;
    font-size: 30px;
}

.text_denuncia {
    text-align: left;
    font-size: 20px;
    padding: .5em 1em;
    /* width: 30%; */
    margin: 0 auto;
    text-align: justify;
    color: #212529;
}