{% extends 'base/baseOut.html'%}

{% block contenido %}
{% if error or noDisponible %}
<div class="jumbotron text-center">
  {% if error %}
  <h1 class="display-3">Algo ha fallado en la confirmación</h1>
  <p> Ocurrío un error al intentar confirmar que ibas en camino, favor de contactarse a soporte para poder obtener más información sobre lo ocurrido.
  {% else %}
    <h3 class="display-3">El vehiculo ya ha sido recogido, por lo que los datos ya no estan disponibles para su consulta.</h3>
  {% endif %}
  <hr>
  <a class="btn btn-primary" href="{% url 'contact' %}"><i class="fas fa-user"></i> Ir a contactanos</a>
{% else %}


<div class="jumbotron text-center">
  {% if accidente.estado < 2 %}
    <h1 class="display-3">!Gracias por confirmar!</h1>
   {% elif accidente.estado >= 2 %}
   <h2 class="display-3">Tú confirmación ha sido entregada con éxito.</h2>
   {% endif %}
   <hr>
    <p class="lead"><strong>Grua en camino.</strong> Gracias por colaborar con nosotros, los datos que necesitas para recoger el vehiculo son los siguientes:</p>
 


  <hr>
  


  <table style="width:100%">
  <tr>
    <td><h3>Datos del vehiculo </h3></td>
    <td><h3>Datos del cliente </h3></td>
    <td><h3>Datos del Siniestro </h3></td>
  </tr>
    <td><b>Patente :</b> {{accidente.poliza.vehiculo.patente}}    <br>
    <b>Marca : </b> {{accidente.poliza.vehiculo.marca}}     <br>
    <b>Modelo:</b>  {{accidente.poliza.vehiculo.modelo}}     <br>
    <b>Año: </b> {{accidente.poliza.vehiculo.year}}     </td>

    <td>
        <b>Nombre :</b> {{accidente.poliza.cliente.nombre }} {{accidente.poliza.cliente.apellido }}      <br>
        <b>Telefono:</b> {{accidente.poliza.cliente.telefono }}     <br>
        <b>Correo:</b> {{accidente.poliza.cliente.email }}     <br>
        <b>Dirección:</b> {{accidente.poliza.cliente.direccion }}     </td>
    </td>

    <td>
        <b>Dirección :</b> {{accidente.direccion_incidente }} <br>
        <b>Nombre del taller:</b> {{accidente.taller.nombre }}     <br>
        <b>Dirección del taller:</b> {{accidente.taller.direccion }}     <br>
        <b>detalles:</b> {{accidente.detalles }}     </td>
    </td>
  <tr>
  </tr>
</table>
</div>
{% endif %}
{% endblock %}