{% extends 'base/listado.html' %} {% block permisoAgregar %} {% if perms.auth.add_group %}
<a class="btn btn-primary" href="{% url 'addProfile' %}">
    <i class="fas fa-user"></i> Agregar grupo
</a>
{% endif %} {% endblock %} {% block crearTabla %} {% if perms.auth.view_group %}
<div class="text-center">
    <h3>Lista de Grupos del Sistema</h3>
</div>
<thead class="btn-primary text-dark">
    <tr>
        <td>Nombre</td>
        <td>Permisos</td>
        <td>Usuarios</td>
        <td>Acciones</td>
    </tr>
</thead>
<tbody>
    {% for p in object_list %}
    <tr>
        <td>{{ p.name }}</td>
        <td>{{ p.permisos }}</td>
        <td>{{ p.usuarios }}</td>

        <td class="text-center">
            {% if perms.auth.change_group %}
            <a href="{% url 'changeProfile' p.id %}" class="btn btn-warning btn-xs btn-flat"><i class="fas fa-edit"></i></a>{% endif %} {% if perms.auth.delete_group %}
            <button type="button" data-url="{% url 'deleteProfile' p.id %}" datos="{{ p.id }}" class="btn btn-danger btn-xs btn-flat eliminar"><i class="fas fa-trash-alt"></i></button>{%endif%}
        </td>
    </tr>
    {% endfor %}
</tbody>
{% endif %} {% endblock crearTabla %}