{% extends 'base/baseForm.html' %}{% load static %}

{% block javasFormulario %}
        <script src="{% static 'app/dualist/duallist.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'app/dualist/dual.css' %}">
        <script src="{% static 'user/registroUsuarios.js' %}"></script>
  {% endblock javasFormulario %}