{% load static %}

<script type="text/javascript" src="{% static 'app/js/jquery-2.1.4.min.js' %}"></script>


<link href="{% static 'lib/jquery-confirm/jquery-confirm.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/toastr/toastr.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/static/admin/js/vendor/jquery/jquery.datetimepicker.min.css' %}">
<link href="{% static 'lib/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet">
<script src="{% static 'lib/sweetalert2/sweetalert2.min.js' %}"></script>


<script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
<script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
<script src="{% static 'lib/toastr/toastr.min.js' %}"></script>