<nav class="main-header navbar navbar-expand navbar-orange">
    <!-- Left navbar links -->
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link text-white" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'index' %}">Inicio</a>
      </li>
      {% if user.is_authenticated %}
       <li class="nav-item">
        <a class="nav-link text-white">Bienvenido {{request.user.username}}</a>
      </li>
      {% endif %}
    </ul>

    <ul class="navbar-nav ml-auto">
    {% if user.is_authenticated %}
        <a class="nav-link text-white"  href="{% url 'logout' %}">
          <i class="fas fa-sign-out-alt"></i> Cerrar sesión
        </a>
      {% endif %}
    </ul>
  </nav>