 <aside class="main-sidebar sidebar-dark-primary elevation-4">     
    
    <a class="brand-link navbar-brand" href="{% url 'index' %}">auto<span>C</span>ar Chile</span></a>

    <div class="sidebar">
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        {% if user.is_authenticated %}
          <li class="nav-item"> 
          </li>
          {% endif %}

          {% if perms.accidents.add_accidente %}
          <li class="nav-item">
            <a  href="{% url 'poliza' %}" class="nav-link">
              <i class="nav-icon fas fa-car-crash"></i>
              <p>
                Ingresar siniestro
              </p>
            </a>
          </li>
          {% endif %}

          {% if perms.accidents.view_accidente %}
          <li class="nav-item">
            <a  href="{% url 'accidents:list_accidents' %}" class="nav-link">
              <i class="nav-icon fas fa-tasks"></i>
              <p>
                Gestionar siniestro
              </p>
            </a>
          </li>
          {% endif %}



          {% if perms.core.view_contactomodel %}
          <li class="nav-item">
            <a  href="{% url 'messagesContact' %}" class="nav-link">
              <i class="nav-icon fas fa-envelope"></i>
              <p>
                Ver mensajes
              </p>
            </a>
          </li>
          {% endif %}

          {% if perms.sucursal.view_sucursal or perms.sucursal.add_sucursal %}
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-building"></i>
              <p>
                Sucursales
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
            {% if perms.sucursal.view_sucursal %}
              <li class="nav-item">
                <a href="{% url 'listSucursal' %}" class="nav-link">
                  <i class="fas fa-list nav-icon"></i>
                  <p>Lista de sucursales</p>
                </a>
              </li>
              {% endif %}
              {% if perms.sucursal.add_sucursal %}
              <li class="nav-item">
                <a href="{% url 'addSucursal' %}" class="nav-link">
                  <i class="fas fa-plus nav-icon"></i>
                  <p>Agregar sucursal</p>
                </a>
              </li>
              {% endif %}
            </ul>
          </li>
          {% endif %}

          {% if perms.sucursal.view_grua or perms.sucursal.add_grua %}
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-truck-pickup"></i>
              <p>
                Grúa
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
            {% if perms.sucursal.view_grua %}
              <li class="nav-item">
                <a href="{% url 'listGrua' %}" class="nav-link">
                  <i class="fas fa-list nav-icon"></i>
                  <p>Lista de grúas</p>
                </a>
              </li>
              {% endif %}
              {% if perms.sucursal.add_grua %}
              <li class="nav-item">
                <a href="{% url 'addGrua' %}" class="nav-link">
                  <i class="fas fa-plus nav-icon"></i>
                  <p>Agregar grúa</p>
                </a>
              </li>
              {% endif %}
            </ul>
          </li>
          {% endif %}

          {% if perms.sucursal.view_taller or perms.sucursal.add_taller %}
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-warehouse"></i>
              <p>
                Taller
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
            {% if perms.sucursal.view_taller %}
              <li class="nav-item">
                <a href="{% url 'listTaller' %}" class="nav-link">
                  <i class="fas fa-list nav-icon"></i>
                  <p>Lista de talleres</p>
                </a>
              </li>
              {% endif %}
              {% if perms.sucursal.add_taller %}
              <li class="nav-item">
                <a href="{% url 'addTaller' %}" class="nav-link">
                  <i class="fas fa-plus nav-icon"></i>
                  <p>Agregar taller</p>
                </a>
              </li>
              {% endif %}
            </ul>
          </li>
          {% endif %}

          

          {% if perms.sucursal.view_comuna or perms.sucursal.add_comuna %}
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-city"></i>
              <p>
                Comunas
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
            {% if perms.sucursal.view_comuna %}
              <li class="nav-item">
                <a href="{% url 'listComuna' %}" class="nav-link">
                  <i class="fas fa-list nav-icon"></i>
                  <p>Lista de comunas</p>
                </a>
              </li>
              {% endif %}
              {% if perms.sucursal.add_comuna %}
              <li class="nav-item">
                <a href="{% url 'addComuna' %}" class="nav-link">
                  <i class="fas fa-plus nav-icon"></i>
                  <p>Agregar comuna</p>
                </a>
              </li>
              {% endif %}
            </ul>
          </li>
          {% endif %}
          

          {% if perms.auth.view_user or perms.auth.add_user %}
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-user"></i>
              <p>
                Usuarios
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
            {% if perms.auth.view_user %}
              <li class="nav-item">
                <a href="{% url 'listUser' %}" class="nav-link">
                  <i class="fas fa-list nav-icon"></i>
                  <p>Lista de usuarios</p>
                </a>
              </li>
              {% endif %}
              {% if perms.auth.add_user %}
              <li class="nav-item">
                <a href="{% url 'addUser' %}" class="nav-link">
                  <i class="fas fa-plus nav-icon"></i>
                  <p>Agregar usuario</p>
                </a>
              </li>
              {% endif %}
            </ul>
          </li>
          {% endif %}

        {% if perms.auth.view_group or perms.auth.add_group %}
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-user-friends"></i>
              <p>
                Grupos
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
            {% if perms.auth.view_group %}
              <li class="nav-item">
                <a href="{% url 'listProfile' %}" class="nav-link">
                  <i class="fas fa-list nav-icon"></i>
                  <p>Lista de grupos</p>
                </a>
              </li>
              {% endif %}
              {% if perms.auth.add_group %}
              <li class="nav-item">
                <a href="{% url 'addProfile' %}" class="nav-link">
                  <i class="fas fa-plus nav-icon"></i>
                  <p>Agregar grupo</p>
                </a>
              </li>
              {% endif %}
            </ul>
          </li>
          {% endif %}


           {% if perms.accidents.report_accidente %}
          <li class="nav-item">
            <a  href="{% url  'accidents:report_accidents' %}" class="nav-link">
              <i class="nav-icon fas fa-file"></i>
              <p>
                Reportes
              </p>
            </a>
          </li>
          {% endif %}         
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
