{% extends 'base/baseOut.html' %}
{% block imagen %}{% endblock imagen %}
{% block contenido %}
    <div class="banner">
        <div class="container">
            <div class="w3ls_banner_info">
                <h2>Bienvenidos</h2>
                <p>Prestamos excelentes servicios en caso que tengas problemas con tu vehículo, no pierdas más tiempo, Contáctanos llamando al 600 200 100</p>
                <div class="wthree_more">
                    <a href="{% url 'contact' %}" class="button--wayra button--border-thick button--text-upper button--size-s">Más Información</a>
                </div>
            </div>
        </div>
    </div>

    <div class="banner-bottom">
        <div class="container">
            <div class="col-md-6 banner_bottom_left">
                <h3>Servicios que puedes acceder con solo comunicarnos</h3>
                <p><i>Házlo ahora! No pierdas más tiempo.</i> En proceso</p>
                <div class="wthree_more wthree_more1">
                    <a href="{% url 'index' %}" class="button--wayra button--border-thick button--text-upper button--size-s">Leer Más</a>
                </div>
            </div>
            <div class="col-md-6 banner_bottom_right">
                <div class="wthree_banner_bottom_right_grids">
                    <div class="col-md-6 banner_bottom_right_grid">
                        <div class="view view-tenth">
                            <div class="agile_text_box">
                                <i></i>
                                <h3>Taller Mecánico</h3>
                                <p>Contamos con profesionales trabajando en un buen taller, consiguiendo que tu vehículo luzca tal y como estaba antes.</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-6 banner_bottom_right_grid">
                        <div class="view view-tenth">
                            <div class="agile_text_box">
                                <i class="clock"></i>
                                <h3>Servicio De Asistencia Con Grúa</h3>
                                <p>Permite la facilidad de poder retirar tu automóvil siniestrado o con desperfecto hacia los talleres mecánicos.</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="wthree_banner_bottom_right_grids">
                    <div class="col-md-6 banner_bottom_right_grid">
                        <div class="view view-tenth">
                            <div class="agile_text_box">
                                <i class="shipping"></i>
                                <h3>Servicio De Reparación</h3>
                                <p>Te ayudamos a que los daños materiales del vehículo sean reparados, y su proceso de reparación o restitución material sea más eficiente.</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-6 banner_bottom_right_grid">
                        <div class="view view-tenth">
                            <div class="agile_text_box">
                                <i class="men"></i>
                                <h3>Mesa De Ayuda</h3>
                                <p>Gestionamos el siniestro con ayuda de profesionales que están capacitados para darte una rápida atención, gestionando el proceso de principio a fin.</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>

{% endblock contenido %}