{% extends 'base/listado.html' %} {% load static %}
{% block permisoAgregar %} {% if perms.auth.add_user %}
<a class="btn btn-primary" href="{% url 'addUser' %}">
    <i class="fas fa-user"></i> Agregar usuario
</a>
{% endif %} {% endblock %} {% block crearTabla %} {% if perms.auth.view_user %}
<div class="text-center">
    <h3>Lista de Usuarios del Sistema</h3>
</div>
<thead class="btn-primary text-dark">
    <tr>
        <td>Nombre</td>
        <td>Apellido</td>
        <td>Usuario</td>
        <td>Sucursal</td>
        <td>Ultima vez</td>
        <td>Grupo</td>
        <td>Asignados/Limite</td>
        <td>Disponible</td>
        <td>Activo</td>
        <td>Creador</td>
        <td>Acciones</td>
    </tr>
</thead>
<tbody>
    {% for p in listadoUsuarios %}
    <tr>
        <td>{{ p.first_name }}</td>
        <td>{{ p.last_name }}</td>
        <td>{{ p.username }}</td>
        <td>{{ p.sucursal }}</td>
        <td> {{p.last_login }} </td>
        {% if p.groups %}
        <td>
            {% for user in p.groups %} {{user.name}} {% endfor %}
        </td>
        {% else %}
        <td>Sin Grupo</td>
        {% endif %}
        <td>{{ p.siniestros_asignados }}</td>
        <td>{{ p.disponible|yesno:"Si,No" }}</td>
        <td>{{p.is_active|yesno:"Activo,Inactivo"}}</td>
        <td>{{p.creador}}</td>
        <td class="text-center">
            {% if perms.auth.change_user %}
            <a href="{% url 'changeUser' p.id %}" class="btn btn-warning btn-xs btn-flat"><i class="fas fa-edit"></i></a>{% endif %} {% if perms.auth.delete_user %}
            <button type="button" data-url="{% url 'deleteUser' p.id %}" datos="{{ p.id }}" 
            {% if p.is_active == True %}
            class="btn btn-danger btn-xs btn-flat delete cambio" action="delete"> <i class="fas fa-user-alt-slash">
            {% else %}
            class="btn btn-success btn-xs btn-flat activar cambio" action="activate"><i class="fas fa-undo-alt">
            {% endif %}</i>
            </button>{% endif %}
        </td>
    </tr>
    {% endfor %}
</tbody>

{% endif %} {% endblock crearTabla %}

{% block jsListado %}
<script src="{% static 'user/listUser.js' %}"></script>
{% endblock jsListado %}