{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>AutoCar Chile</title>
    <link href="{% static 'app/css/login.css' %}" rel="stylesheet" type="text/css" media="all" />
    <!-- icono -->
    <link rel="icon" href="{% static 'app/images/minibanner.jpg' %}" type="image/png" />
    <link rel="shortcut icon" href="{% static 'app/images/minibanner.jpg' %}" type="image/png" />

</head>
<body>
    {% load crispy_forms_tags %}
    <div class="container">
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">

                        <h2>Inicio de Sesión</h2>
                        <hr>
                        <form method="POST">
                            {% csrf_token %} 
                            {{ form | crispy }}                            
                            <br>
                            <input type="submit" value="Ingresar" class="button">
                            <br>
                            <br>
                            <p>¿Deseas ir a la página principal? <a href="{% url 'index' %}" class="link">Haz Click Aquí</a></p>
                        </form>     
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>