{% extends 'base/baseForm.html'%}{% load static %}
{% block complementos %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/dualist/dual.css' %}">
{% endblock complementos %}
 {% block formulario %}
     {% for field in form %} {% if field.label == "Permisos" %}
        <div class="col-xs-12 col-sm-12 col-md-12">
            {% else %}
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label><br> {% endif %}
                <div class="form-group">
                    {{ field }}
                    <small class="text-muted">{{field.help_text}}</small> {% for error in field.errors %}
                    <span class="badge badge-danger" id="error_{{ field.name }}" name="error_{{ field.name }}">{{ error|escape }}</span> {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
 {% endblock formulario %}

{% block javasFormulario %}
    <script src="{% static 'app/dualist/duallist.min.js' %}"></script>
    <script src="{% static 'user/registroUsuarios.js' %}"></script>
{% endblock javasFormulario %}