{% extends 'base/detallesCard.html' %}

{% block izquierda %}
    <div class="m-b-25"> <img src="https://i.pinimg.com/originals/d7/dd/3a/d7dd3a5cc8da58f16beef8ee0e6b2bfe.png" class="img-radius" alt="User-Profile-Image"> </div>
    <h6 class="f-w-600">{{taller.nombre}}</h6>
    <p>{{taller.direccion}}</p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>

{% endblock izquierda %}


{% block detallesCard %}

    <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Información</h6>
    <div class="row">
        <div class="col-sm-6">
            <p class="m-b-10 f-w-600">Encargado</p>
            <h6 class="text-muted f-w-400">{{taller.encargado}}</h6>
        </div>
        <div class="col-sm-6">
            <p class="m-b-10 f-w-600">Comuna</p>
            <h6 class="text-muted f-w-400">{{taller.comuna}}</h6>
        </div>
    </div>
    <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600"></h6>
    <div class="row text-center">
        {% if perms.sucursal.change_taller %}
        <a href="{% url 'changeTaller' taller.id %}" class="btn btn-warning"><i class="fas fa-edit"></i>  Editar taller</a>
        {% endif %}
        
    </div>
{% endblock detallesCard %}