{% extends 'base/listado.html' %} {% block permisoAgregar %} {% if perms.sucursal.add_taller %}
<a class="btn btn-primary" href="{% url 'addTaller' %}">
    <i class="fas fa-wrench"></i> Agregar taller
</a>
{% endif %} {% endblock %} {% block crearTabla %} {% if perms.sucursal.view_taller %}
<div class="text-center">
    <h3>Lista de Talleres</h3>
</div>
<thead class="btn-primary text-dark">
    <tr>
        <td>Nombre</td>
        <td>Direccion</td>
        <td>Comuna</td>
        <td>Activo</td>
        <td>Vehiculos Asignados</td>
        <td>Vehiculos Maximos</td>
        <td>Acciones</td>
    </tr>
</thead>
<tbody>
    {% for p in object_list %}
    <tr>
        <td>{{ p.nombre }}</td>
        <td>{{ p.direccion }}</td>
        <td>{{ p.comuna }}</td>
        <td>{{p.activo|yesno:"Activo,Inactivo"}}</td>
        <td>{{ p.reparaciones_asignadas }}</td>
        <td>{{ p.reparaciones_maximas }}</td>
        <td class="text-center">
            {% if perms.sucursal.change_taller %}
            <a href="{% url 'changeTaller' p.id %}" class="btn btn-warning btn-xs btn-flat"><i class="fas fa-edit"></i></a>{% endif %} {% if perms.sucursal.delete_taller %}
            <button type="button" data-url="{% url 'deleteTaller' p.id %}" datos="{{ p.id }}" class="btn btn-danger btn-xs btn-flat eliminar"><i class="fas fa-trash-alt"></i></button>{%endif%}
        </td>
    </tr>
    {% endfor %}
</tbody>
{% endif %} {% endblock crearTabla %}