{% extends 'base/listado.html' %}{% load static %} {% block permisoAgregar %} {% endblock %} {% block crearTabla %} {% if perms.sucursal.accept_taller %}
<thead class="btn-primary text-dark">
    <tr>
        <td>Fecha</td>
        <td>Nro Siniestro</td>
        <td>Chofer Grua</td>
        <td>Patente Grua</td>
        <td>Patente Vehiculo</td>
        <td>Vehiculo</td>
        <td>Estado</td>
        <td>Taller</td>

        <td>Acciones</td>
    </tr>
</thead>
<tbody>
    {% for p in object_list %}
    <tr>
        <td>{{ p.fecha }}</td>
        <td>{{ p.pk }}</td>
        <td>{{ p.grua.chofer.get_full_name }}</td>
        <td>{{ p.grua.patente }}</td>
        <td>{{ p.poliza.vehiculo.patente }}</td>
        <td>{{ p.poliza.vehiculo.get_marca_display }} {{ p.poliza.vehiculo.modelo }} {{ p.poliza.vehiculo.year }}</td>
        <td>{{ p.get_estado_display }}</td>
        <td>{{ p.taller }}</td>
        <td class="text-center">
           {% if perms.sucursal.accept_taller and p.estado < 3 %} <a type="button" data-url="{% url 'listTallerCar' %}" datos="{{ p.id }}" class="btn btn-success btn-xs btn-flat delete cambio" action="check"> <i class="fas fa-check"></i> Recibir Vehículo</a> 
    {% endif %}  
        {% if perms.sucursal.cotizacion_taller and p.estado == 3 %}
            <a href="{% url 'addReparacion' p.id %}" class="btn btn-warning btn-xs btn-flat"><i class="fas fa-money-bill"></i> Cotizar Vehículo</a>
        {% endif %}
        <a href="{% url 'accidents:view_accident' p.id %}" class="btn btn-primary btn-xs btn-flat"><i class="fas fa-eye"></i></a>
    
        </td>
        
    </tr>
    {% endfor %}
</tbody>
{% endif %} {% endblock crearTabla %}

{% block jsListado %}
<script src="{% static 'taller/tallerList.js' %}"></script>
{% endblock jsListado %}