{% extends 'base/listado.html' %} {% block permisoAgregar %} {% if perms.sucursal.add_sucursal %}
<a class="btn btn-primary" href="{% url 'addSucursal' %}">
    <i class="fas fa-building"></i> Agregar sucursal
</a>
{% endif %} {% endblock %} {% block crearTabla %} {% if perms.sucursal.view_sucursal %}
<div class="text-center">
    <h3>Lista de Sucursales</h3>
</div>
<thead class="btn-primary text-dark">
    <tr>
        <td>Nombre</td>
        <td>Direccion</td>
        <td>RUT</td>
        <td>Comuna</td>
        <td>Acciones</td>

    </tr>
</thead>
<tbody>
    {% for p in object_list %}
    <tr>
        <td>{{ p.nombre }}</td>
        <td>{{ p.direccion }}</td>
        <td>{{ p.rut }}</td>
        <td>{{ p.comuna }}</td>
        <td class="text-center">
            {% if perms.sucursal.change_sucursal %}
            <a href="{% url 'changeSucursal' p.id %}" class="btn btn-warning btn-xs btn-flat"><i class="fas fa-edit"></i></a>{% endif %} {% if perms.sucursal.delete_sucursal %}
            <button type="button" data-url="{% url 'deleteSucursal' p.id %}" datos="{{ p.id }}" class="btn btn-danger btn-xs btn-flat eliminar"><i class="fas fa-trash-alt"></i></button>{%endif%}
        </td>
    </tr>
    {% endfor %}
</tbody>
{% endif %} {% endblock crearTabla %}