{% extends 'base/listado.html' %} {% block permisoAgregar %} {% if perms.sucursal.add_grua %}
<a class="btn btn-info" href="{% url 'addGrua' %}">
    <i class="fas fa-list"></i> Agregar Grua
</a>
{% endif %} {% endblock %} {% block crearTabla %} {% if perms.sucursal.view_grua %}
<div class="text-center">
    <h3>Lista de Grúas</h3>
</div>
<thead class="btn-primary text-dark">
    <tr>
        <td>Comuna</td>
        <td>Chofer</td>
        <td>Marca</td>
        <td>Modelo</td>
        <td>Año</td>
        <td>Patente</td>
        <td>Activa</td>
        <td>Disponible</td>
        <td>Acciones</td>

    </tr>
</thead>
<tbody>
    {% for p in object_list %}
    <tr>
        <td>{{ p.comuna }}</td>
        <td>{{ p.chofer.get_full_name }}</td>
        <td>{{ p.marca }}</td>
        <td>{{ p.modelo }}</td>
        <td>{{ p.anio }}</td>
        <td>{{ p.patente }}</td>
        <td>{{p.activo|yesno:"Activo,Inactivo"}}</td>
        <td>{{p.disponible|yesno:"Si,No"}}</td>
        <td class="text-center">
            {% if perms.sucursal.change_grua %}
            <a href="{% url 'changeGrua' p.id %}" class="btn btn-warning btn-xs btn-flat"><i class="fas fa-edit"></i></a>{% endif %} {% if perms.sucursal.delete_grua %}
            <button type="button" data-url="{% url 'deleteGrua' p.id %}" datos="{{ p.id }}" class="btn btn-danger btn-xs btn-flat eliminar"><i class="fas fa-trash-alt"></i></button>{%endif%}
        </td>
    </tr>
    {% endfor %}
</tbody>
{% endif %} {% endblock crearTabla %}