{% extends 'base/listado.html' %} {% block permisoAgregar %} {% if perms.sucursal.add_comuna %}
<a class="btn btn-primary" href="{% url 'addComuna' %}">
    <i class="fas fa-city"></i> Agregar comuna
</a>
{% endif %} {% endblock %} {% block crearTabla %} {% if perms.sucursal.view_comuna %}
<div class="text-center">
    <h3>Lista de Comunas</h3>
</div>
<thead class="btn-primary text-dark">
    <tr>
        <td>Nombre</td>
        <td>Acciones</td>
    </tr>
</thead>
<tbody>
    {% for p in object_list %}
    <tr>
        <td>{{ p.nombre }}</td>

        <td class="text-center">
            {% if perms.sucursal.change_comuna %}
            <a href="{% url 'changeComuna' p.id %}" class="btn btn-warning btn-xs btn-flat"><i class="fas fa-edit"></i></a>{% endif %} {% if perms.sucursal.delete_comuna %}
            <button type="button" data-url="{% url 'deleteComuna' p.id %}" datos="{{ p.id }}" class="btn btn-danger btn-xs btn-flat eliminar"><i class="fas fa-trash-alt"></i></button>{%endif%}
        </td>
    </tr>
    {% endfor %}
</tbody>
{% endif %} {% endblock crearTabla %}