{% extends 'base/base.html' %} {% load crispy_forms_tags %} {% load static %} {% block complementos %} {% endblock complementos %} {% block contenido %}
<div class="container">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-12 col-md-12 col-sm-offset-0 col-md-offset-0">
            <div class="panel panel-default">
                <div class="panel-body">
                        <div class="container-fluid">
                            <div class="form-row">
                                {% csrf_token %}
                                <div class="col-xs-12 col-sm-12 col-md-12" style="text-align:center;margin-bottom: 3em;">
                                    Presupuesto
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                    <p>Cobertura de la poliza: {{ object.montoCobertura }}</p>
                                </div> 
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                    <p>Monto Total: {{ object.montoTotal }}</p>
                                </div> 
                                <div class="col-xs-4 col-sm-4 col-md-4" style="margin-bottom: 3em;">
                                    <p>Tiempo de reparacion: {{ object.tiempoRepDias }}</p>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12" style="text-align:center;margin-bottom: 3em;">
                                    <p>Observaciones:</p>
                                    <p>{{ object.observaciones }}</p>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12" style="text-align:center;border-bottom: solid;">
                                    Detalles
                                </div>
                                {% for detalle in object.detalles.all %}
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <p>Nombre :{{  detalle.nombre }}</p>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <p>Descripcion :{{  detalle.descripcion }}</p>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <p>Monto Aproximado :{{  detalle.monto }}</p>
                                    </div>
                                {% endfor %}
                                </div>
                                <br>
                                <br>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
                                    {% if perms.reparacion.accept_reparacion %}
                                    <button id="aproved-btn" type="button" data-url="{% url 'aproved_fix' object.id %}" datos="{{ p.id }}" class="btn btn-success btn-xs btn-flat"><i class="fas fa-check"></i>Validar presupuesto</button>
                                    {% endif %}
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
                                    {% if perms.reparacion.change_reparacion %}
                                    <a type="button" href="{% url 'editReparacion' object.id %}" datos="{{ p.id }}" class="btn btn-warning btn-xs btn-flat"><i class="fas fa-pen-square"></i>Editar presupuesto</a>
                                    {%endif%}
                                </div> 
                                <div class="col-xs-3 col-sm-3 col-md-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
                                    <a type="button" style="background-color: #ff5320;" href="{% url 'pdfReparacion' object.id %}" datos="{{ p.id }}" class="btn btn-warning btn-xs btn-flat"><i class="fas fa-file-pdf"></i>Generar PDF</a>
                                </div> 
                                <div class="col-xs-3 col-sm-3 col-md-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
                                    {% if perms.reparacion.delete_reparacion %}
                                    <button id="delete-btn" type="button" data-url="{% url 'deleteReparacion' object.id %}" datos="{{ p.id }}" class="btn btn-danger btn-xs btn-flat"><i class="fas fa-trash-alt"></i>Eliminar</button>
                                    {%endif%}
                                </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock contenido %}
{% block javas %}
<script>
var list_url = "{% url 'accidents:list_accidents' %}";
$( document ).ready(function() {
    $("#aproved-btn").on('click', function() {
    var url = $(this).attr('data-url');
    var parametros = $(this).attr('datos');
    alertJS(
        'fas fa-check',
        url,
        'Aprobar Cotizacion',
        '¿Estas seguro que deseas validar el presupuesto?',
        parametros,
        function(data) {
            window.location=list_url;
        }
        );
    });

    $("#delete-btn").on('click', function() {
    var url = $(this).attr('data-url');
    var parametros = $(this).attr('datos');
    alertJS(
        'fas fa-trash-alt',
        url,
        'Eliminar registro',
        '¿Estas seguro que deseas eliminar el registro?',
        parametros,
        function(data) {
            window.location=document.referrer;
        }
        );
    });
});
</script>>
{% block javasFormulario %}
{% endblock javasFormulario %}
{% endblock javas %}