{% extends 'base/listado.html' %} {% block permisoAgregar %} {% if perms.reparacion.add_tipoReparacion %}
<a class="btn btn-info" href="{% url 'addTipoReparacion' %}">
    <i class="fas fa-wrench"></i> Agregar tipo de reparación
</a>
{% endif %} {% endblock %} {% block crearTabla %} {% if perms.reparacion.view_tipoReparacion %}
<thead class="btn-primary text-dark">
    <tr>
        <td>Nombre</td>
        <td>Descripción</td>
        <td>Acciones</td>
    </tr>
</thead>
<tbody>
    {% for p in object_list %}
    <tr>
        <td>{{ p.nombre }}</td>
        <td>{{ p.descripcion }}</td>
        <td class="text-center">
            {% if perms.reparacion.change_tipoReparacion %}
            <a href="{% url 'changeTipoReparacion' p.id %}" class="btn btn-warning btn-xs btn-flat"><i class="fas fa-edit"></i></a>{% endif %} {% if perms.reparacion.delete_tipoReparacion %}
            <button type="button" data-url="{% url 'deleteTipoReparacion' p.id %}" datos="{{ p.id }}" class="btn btn-danger btn-xs btn-flat eliminar"><i class="fas fa-trash-alt"></i></button>{%endif%}
        </td>
    </tr>
    {% endfor %}
</tbody>
{% endif %} {% endblock crearTabla %}