{% extends 'base/listado.html' %} {% block permisoAgregar %} {% if perms.reparacion.add_reparacion %}
{% endif %}
 {% endblock %} {% block crearTabla %} {% if perms.reparacion.view_reparacion %}
<thead class="btn-primary text-dark">
    <tr>
        <td>Monto Cobertura</td>
        <td>Monto total</td>
        <td>Tiempo</td>
        <td>Acciones</td>
        <td>Estado</td>

    </tr>
</thead>
<tbody>
    {% for p in object_list %}
    <tr>
        <td>{{ p.montoCobertura }}</td>
        <td>{{ p.montoTotal }}</td>
        <td>{{ p.tiempoRepDias }}</td>
        <td>{{ p.autorizado|yesno:"autorizado,sin autorizacion" }}</td>
        <td class="text-center">
            {% if perms.reparacion.accept_reparacion %}
            <a href="{% url 'changeReparacion' p.id %}"><i class="fas fa-check"></i></a>{% endif %}
        </td>
    </tr>
    {% endfor %}
</tbody>
{% endif %} {% endblock crearTabla %}