{% extends 'base/base.html' %} {% load crispy_forms_tags %} {% load static %} {% block complementos %} {% endblock complementos %} {% block contenido %}
<div class="container">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-12 col-md-12 col-sm-offset-0 col-md-offset-0">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{tituloForm}}</h3>
                </div>
                <div class="panel-body">
                    <div class="auto">
                        <div class="tab-content">
                            <div class="poliza bg-white" >
                              <h6 class="consulta_poliza"><strong>Póliza Garantía</strong></h6>
                              <p><b>Fecha: </b>{{ object.fecha }}</p>
                              <p><b>No del siniestro: </b>{{ object.pk }}</p>
                              <p><b>Cantidad Maxima: </b>{{ object.poliza.cantidad_maxima }}</p>
                              <p><b>Estado: </b>{{ status }}</p>
                              <p><b>Detalles: </b>{{ object.detalles }}</p>
                              <br>
                              <br>
                              <div class="row" style="border: 1px solid #000;margin-bottom: 3em;">
                                <h5 style="text-align: center;"><b>Cliente</b><i style="text-align: center;" class="fa fa-user" aria-hidden="true"></i></h5>
                                <p style="margin-left:10px;"><b>Rut: </b>{{object.poliza.cliente.rut}}</p>
                                <p style="margin-left:10px;"><b>Nombre: </b>{{object.poliza.cliente.nombre}}</p>
                                <p style="margin-left:10px;"><b>Apellido: </b>{{object.poliza.cliente.apellido}}</p>
                                <p style="margin-left:10px;"><b>Fecha Nacimiento: </b>{{object.poliza.cliente.fecha_nacimiento}}</p>
                                <p style="margin-left:10px;"><b>Nro Documento: </b>{{object.poliza.cliente.nro_doc}}</p>
                                <p style="margin-left:10px;"><b>Email: </b>{{object.poliza.cliente.email}}</p>
                                <p style="margin-left:10px;"><b>Telefono: </b>{{object.poliza.cliente.telefono}}</p>
                                <p style="margin-left:10px;"><b>Direccion: </b>{{object.poliza.cliente.direccion}}</p>
                              </div>
                              {% if object.grua %}
                              <div class="row" style="border: 1px solid #000;margin-bottom: 3em;">
                                <h5 style="text-align: center;"><b>Grua</b><i class="fa fa-truck" aria-hidden="true"></i></h5>
                                <p style="margin-left:10px;"><b>Marca: </b>{{object.grua.marca}}</p>
                                <p style="margin-left:10px;"><b>Modelo: </b>{{object.grua.modelo}}</p>
                                <p style="margin-left:10px;"><b>Patente: </b>{{object.grua.patente}}</p>
                                <p style="margin-left:10px;"><b>Año: </b>{{object.grua.anio}}</p>
                                <p style="margin-left:10px;"><b>Chofer: </b>{{ object.grua.chofer.get_full_name }}</p>
                              </div>
                              {% endif %}
                              <br>
                              <br>
                              {% if object.taller %}
                              <div class="row" style="border: 1px solid #000;margin-bottom: 3em;">
                                <h5 style="text-align: center;"><b>Taller</b><i class="fa fa-wrench" aria-hidden="true"></i></h5>
                                <p style="margin-left:10px;"><b>Nombre: </b>{{object.taller.nombre}}</p>
                                <p style="margin-left:10px;"><b>Direccion: </b>{{object.taller.direccion}}</p>
                                <p style="margin-left:10px;"><b>Comuna: </b>{{object.taller.comuna.nombre}}</p>
                              </div>
                              {% endif %}
                            </div>
                        </div>
                    </div>
                    <cotizador 
                    max_amount="{{ object.poliza.cantidad_maxima }}" 
                    pk_siniestro="{{ object.pk }}"
                    token="{{csrf_token}}"
                    store_url="{% url 'storageReparacion' %}"
                    success_url="{% url 'listTallerCar' %}"></cotizador>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}
{% block javas %}
{% block javasFormulario %}
{% endblock javasFormulario %}
<script src="{% static 'vue/components/main.js' %}"></script>
{% endblock javas %}