{% extends 'base/listado.html' %}{% load static %} {% block permisoAgregar %} {% endblock %} {% block crearTabla %} {% if perms.core.view_contactosMensajes %}
<div class="text-center">
    <h3>Lista de Mensajes enviados desde Contacto</h3>
</div>
<thead class="btn-primary text-dark">
    <tr>
        <td>Fecha </td>
        <td>Nombre</td>
        <td>Apellido</td>
        <td>Telefono</td>
        <td>Correo</td>
        <td>Mensaje</td>
        <td>Leido</td>
        <td>Acciones</td>
    </tr>
</thead>
<tbody>
    {% for p in object_list %}
    <tr>
        <td>{{ p.fecha }}</td>
        <td>{{ p.nombre }}</td>
        <td>{{ p.apellido }}</td>
        <td>{{ p.telefono }}</td>
        <td> {{p.correo }} </td>
        <td> {{p.mensaje }} </td>

        <td>{{p.leido|yesno:"Leido,Sin leer"}}</td>
        <td class="text-center">
            {% if perms.core.change_contactosMensajes %} {% if p.leido %}
            <button type="button" data-url="{% url 'changeContact' p.id %}" datos="{{ p.id }}" action="nuevo" class="btn btn-warning btn-xs btn-flat cambio"><i class="fas fa-check-double"></i></button> {% else %}
            <button type="button" data-url="{% url 'changeContact' p.id %}" datos="{{ p.id }}" action="leer" class="btn btn-warning btn-xs btn-flat cambio"><i class="fas fa-check-circle"></i></button> {% endif %} {% endif %} {% if perms.core.delete_contactosMensajes %}
            <button type="button" data-url="{% url 'changeContact' p.id %}" datos="{{ p.id }}" action="borrar" class="btn btn-danger btn-xs btn-flat cambio"><i class="fas fa-trash-alt"></i></button> {% endif %}
        </td>
    </tr>
    {% endfor %}
</tbody>
{% endif %} {% endblock crearTabla %} {% block jsListado %}
<script src="{% static 'core/listContact.js' %}"></script>
{% endblock jsListado %}