
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{tituloPagina}}</title>

  {% include 'base/baseDash/complementos.html' %} {% block complementos %} {% endblock complementos %}


  <link rel="stylesheet" href="{% static 'adminlte/css/fontGoogle.css' %}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'adminlte/css/all.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'adminlte/css/adminlte.min.css' %}">

  <style>
html,
body {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    background: #ffffff;
}

.navbar-brand {
    padding: 0;
    line-height: 46px;
    font-size: 1.2em;
    height: 45px;
    text-transform: uppercase;
    font-weight: 600;
}
.navbar-brand span {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    display: inline-block;
    color: #ff9900;
    line-height: 1;
}
.logo_nav {
    padding: 1.5em 0;
}


.services-breadcrumb {
    padding: 1em 0;
    background: #f5f5f5;
    text-align: center;
}

.services-breadcrumb ul li {
    display: inline-block;
    color: #212121;
    text-transform: uppercase;
}

.services-breadcrumb ul li a {
    color: #ff9900;
    text-decoration: none;
}

.services-breadcrumb ul li a:hover {
    color: #212121;
}

.services-breadcrumb ul li i {
    padding: 0 1.5em;
}


/*-- //banner1 --*/


/*-- services --*/

.w3l_services_grid1 {
    text-align: center;
}

.w3l_services_grid1 span {
    color: #ff9900;
    font-size: 1.5em;
}

.w3l_services_grid1 h4 a {
    text-transform: capitalize;
    font-size: 1.1em;
    color: #212121;
    text-decoration: none;
    display: block;
    margin: 1em 0;
}

.w3l_services_grid1 h4 a:hover,
.w3l_services_grid:hover .w3l_services_grid1 h4 a {
    color: #ff9900;
}

.w3l_services_grid1 li {
    color: #000000;
    line-height: 2em;
    text-align: justify;
    padding: -1px;
}

.w3l_services_grid1 p {
    color: #999;
    line-height: 2em;
    text-align: justify;
}

.w3l_services_grids:nth-child(3) {
    margin: 4em 0 3em;
}

.w3l_services_grid1 span {
    overflow: hidden;
    position: relative;
}

.w3l_services_grid:hover .w3l_services_grid1 span {
    -webkit-transform: scale(1.3) translateY(1px);
    transform: scale(1.3) translateY(1px);
    -o-transform: scale(1.3) translateY(1px);
    -ms-transform: scale(1.3) translateY(1px);
    color: #212121;
}

  </style>

  <link rel="stylesheet" href="{% static 'app/css/style.css' %}">

</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

  {% include 'base/baseDash/menuArriba.html' %}
 {% include 'base/baseDash/menuLateral.html' %}


  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
              <li class="breadcrumb-item active">{{tituloSeccion}}</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <section class="content">

      <div class="card">
        {% comment %} <div class="card-header">
          <h3 class="card-title">Title</h3>
        </div> {% endcomment %}
        <div class="card-body" id="vue-app">
          {% block contenido %}{% endblock contenido %}
        </div>
      </div>
    </section>
  </div>

  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <p>&copy 2021 autoCar Chile | Diseñado por SQUAD LABS</p>
    </div>
    <strong>l.ignaciomatus@gmail.com<a href="l.ignaciomatus@gmail.com"></a></strong>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- jQuery -->
<script src="{% static 'adminlte/js/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'adminlte/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'adminlte/js/adminlte.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'adminlte/js/demo.js' %}"></script>


 <script>
        const miurl = "{{url}}";
    </script>
    <script src="{% static 'admin/static/admin/js/vendor/jquery/jquery.datetimepicker.full.js' %}"></script>
    <script src="{% static 'vue/axios.min.js' %}"></script>
    <script src="{% static 'vue/vue.js' %}"></script>
    <script src="{% static 'lib/jquery-confirm/jquery-confirm.min.js' %}"></script>
    <script src="{% static 'adminlte/js/select2.min.js' %}"></script>

    <script src="{% static 'app/core/coreFuncion.js' %}"></script>
    {% block enviarJS %}
    <script>
    $('form').on('submit', function(e) {
        e.preventDefault();
        var parametros = new FormData(this);
        formAJAX(window.location.pathname, 'Notificación', '¿Estas seguro de realizar la siguiente acción?', parametros, function(data) {
            location.href = miurl;
        });
    });
    </script>
    {% endblock enviarJS %}
    {% block javas %}{% endblock javas %} {% for message in messages %}
    <script>
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "4000",
            "hideDuration": "4000",
            "timeOut": "4000",
            "extendedTimeOut": "4000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr["{{ message.tags }}"]("{{message}}")
    </script>
    {% endfor %}


</body>
</html>
