{% extends 'base/base.html' %} {% load crispy_forms_tags %} {% load static %} {% block complementos %} {% endblock complementos %} {% block contenido %}
<div class="container">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-12 col-md-12 col-sm-offset-0 col-md-offset-0">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{tituloForm}}</h3>
                </div>
                <div class="panel-body">
                    <form enctype="multipart/form-data" method="POST" id="formulario">
                        <input type="hidden" name="action" id="action" value="{{ action }}"> {% csrf_token %} {{ form.media }}

                        <div class="container-fluid">
                            <div class="form-row">
                                {% block formulario %}
                                {% for field in form %}
                                {% if columnaForm %}
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                {% else %}
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                {% endif %}
                                        {% if not field.is_hidden %}
                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label><br>
                                        
                                        <div class="form-group">
                                            {{ field }}
                                            <small class="text-muted">{{field.help_text}}</small> {% for error in field.errors %}
                                            <span class="badge badge-danger" id="error_{{ field.name }}" name="error_{{ field.name }}">{{ error|escape }}</span> {% endfor %}
                                        </div>
                                        {% else %}
                                            {{ field }}
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                   
                                </div>
                                {% endblock formulario %}
                                 <button type="submit" class="btn btn-info btn-block">{{botonEnviar}} </button>
                    </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        {% endblock contenido %} {% block javas %}

        {% block javasFormulario %}
        {% endblock javasFormulario %}

        {% endblock javas %}