{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{{tituloPagina}}</title>
    {% include 'base/complementos.html' %} {% block complementos %} {% endblock complementos %}
</head>

<body>
    {% block headerContenido %}
    <!-- header -->
    <header>
        <div class="header">
            {% include 'base/menuArriba.html' %}
        </div>
        <div class="logo_nav">
            <div class="container">
                {% include 'base/navBar.html' %}
            </div>
        </div>
    </header>
    {% endblock headerContenido %}

    {% block contenidoGeneral %}
    <main role="main" class="container">
        <div class="card-body" id="vue-app">
            <div class="content-wrapper">
                <section class="content-header">
                    {% block cabecera %}{% endblock cabecera %}
                </section>
                <div class="content">
                    <div class="container">
                        
                       
                        {% if imagenPage %}
                        <div class="banner1">
                            <div class="container">
                            </div>
                        </div>
                        {% endif %}
                         {% if tituloSeccion %}
                        <div class="services-breadcrumb">
                            <div class="container">
                                <ul>
                                    <li><a href="{% url 'index' %}">Inicio</a><i>|</i></li>
                                    <li>{{tituloSeccion}}</li>
                                </ul>
                            </div>
                        </div>
                        {% endif %}


                        {% block contenido %}{% endblock contenido %}
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% endblock contenidoGeneral %}

    {% block footerPage %}
    <footer class="footer">
        <div class="container">
            <div class="agileinfo_copy_right_left">
                <p>&copy 2021 autoCar Chile | Diseñado por SQUAD LABS</p>
            </div>
            <div class="agileinfo_copy_right_right">
                <ul class="social">
                    <li>
                        <a class="social-linkedin" href="#">
                            <i></i>
                            <div class="tooltip"><span>Facebook</span></div>
                        </a>
                    </li>
                    <li>
                        <a class="social-instagram" href="#">
                            <i></i>
                            <div class="tooltip"><span>Instagram</span></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    {% endblock footerPage %}

    <script>
        const miurl = "{{url}}";
    </script>
    <script src="{% static 'admin/static/admin/js/vendor/jquery/jquery.datetimepicker.full.js' %}"></script>
    <script src="{% static 'vue/axios.min.js' %}"></script>
    <script src="{% static 'vue/vue.js' %}"></script>
    <script src="{% static 'app/core/coreFuncion.js' %}"></script>
    {% block enviarJS %}
    <script>
    $('form').on('submit', function(e) {
        e.preventDefault();
        var parametros = new FormData(this);
        formAJAX(window.location.pathname, 'Notificación', '¿Estas seguro de realizar la siguiente acción?', parametros, function(data) {
            location.href = miurl;
        });
    });
    </script>
    {% endblock enviarJS %}
    {% block javas %}{% endblock javas %} {% for message in messages %}
    <script>
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "4000",
            "hideDuration": "4000",
            "timeOut": "4000",
            "extendedTimeOut": "4000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr["{{ message.tags }}"]("{{message}}")
    </script>
    {% endfor %}

</body>

</html>