{% load static %}
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Truckage Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript">
    addEventListener("load", function() {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
</script>

<!-- //for-mobile-apps -->
<link href="{% static 'app/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'app/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'lib/fontawesome-free/css/all.min.css' %}">

<!-- js -->
<script type="text/javascript" src="{% static 'app/js/jquery-2.1.4.min.js' %}"></script>
<!-- //js -->
<!-- load-more -->
<script>
    $(document).ready(function() {
        size_li = $("#myList li").size();
        x = 1;
        $('#myList li:lt(' + x + ')').show();
        $('#loadMore').click(function() {
            x = (x + 1 <= size_li) ? x + 1 : size_li;
            $('#myList li:lt(' + x + ')').show();
        });
        $('#showLess').click(function() {
            x = (x - 1 < 0) ? 1 : x - 1;
            $('#myList li').not(':lt(' + x + ')').hide();
        });
    });
</script>
<!-- //load-more -->
<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- icono -->
<link rel="icon" href="{% static 'app/images/minibanner.jpg' %}" type="image/png" />
<link rel="shortcut icon" href="{% static 'app/images/minibanner.jpg' %}" type="image/png" />

<link href="{% static 'lib/jquery-confirm/jquery-confirm.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/toastr/toastr.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/static/admin/js/vendor/jquery/jquery.datetimepicker.min.css' %}">
<link href="{% static 'lib/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet">
<script src="{% static 'lib/sweetalert2/sweetalert2.min.js' %}"></script>
<script src="{% static 'lib/jquery-confirm/jquery-confirm.min.js' %}"></script>

<script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
<script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
<script src="{% static 'lib/toastr/toastr.min.js' %}"></script>

 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>

</style>