{% extends 'base/base.html'%}{% load static %}

{% block complementos %}
<link href="{% static 'core/detallesCard.css' %}" rel="stylesheet" type="text/css" media="all" />

{% endblock %}

{% block contenido %}
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-6 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                            {% block izquierda %}

                            {% endblock izquierda%}
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                            {% block detallesCard %}
                            {% endblock detallesCard %}
                                
                                

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}