{% extends 'base/base.html' %}{% load static %} {% block complementos %}
<link href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}" /> {% endblock complementos %} {% block contenido %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex justify-content-end">
                            {% block permisoAgregar %} {% endblock permisoAgregar %}
                        </div>
                    </div>
                </div><br>
                {% block validarPermiso %} {% endblock validarPermiso %}
                {% block quitarTabla %}
                <div class="table-responsive">
                    <table class="table table-sm table-hover tablaActual text-left">
                        {% block crearTabla %}{% endblock crearTabla %}
                    </table>
                </div>
                {% endblock quitarTabla %}
            </div>
            <div class="card-footer">
                {% block botonesLista %} {% endblock botonesLista %}
            </div>
        </div>
    </div>
</div>
{% endblock contenido %} {% block javas %}

<script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>

<script>
    tablaActual = $('.tablaActual').DataTable({
        responsive: true,
        autoWidth: false,
        aaSorting: [],
        destroy : true,
        language: {
            "url": "{% static 'lib/datatables-1.10.20/Spanish.json' %}"
        }
    });
</script>

{% block jsListado %} {% endblock jsListado %} {% endblock javas %}