<div class="container">
    <div class="w3l_header_left">
        <ul>
            <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><a href="{% url 'contact' %}">Servicio al cliente</a></li>
            <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:l.ignaciomatus@gmail.com">l.ignaciomatus@gmail.com</a></li>
        </ul>
    </div>

    <div class="w3l_header_right">
        <ul>
            <li><a href="{% url 'poliza' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Estado de Siniestro</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Cerrar</a></li>
            <li><a href="#">@{{ user.username }} </a></li>
            {% else %}
            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Entrar al Sistema</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="clearfix"> </div>

</div>