<nav class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <div class="logo">
            <h1><a class="navbar-brand" href="{% url 'index' %}">auto<span>C</span>ar Chile</span></a></h1>
        </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
        <nav class="link-effect-2" id="link-effect-2">
            <ul class="nav navbar-nav">
                {% if not user.is_authenticated %}
                <li class="active"><a href="{% url 'index' %}"><span data-hover="Inicio">Inicio</span></a></li>
                <li><a href="{% url 'denuncia' %}"><span data-hover="Información">Información</span></a></li>
                <li><a href="{% url 'contact' %}"><span data-hover="Contacto">Contacto</span></a></li>
                {% else %}

                {% if perms.accidents.add_accidente %}
                <li><a href="{% url 'poliza' %}"><span data-hover="Ingresar Siniestro">Ingresar Siniestro</span></a></li>
                {% endif %} {% if perms.core.view_contactomodel %}
                <li><a href="{% url 'messagesContact' %}"><span data-hover="Mis mensajes">Mensajes de contacto</span></a></li>{% endif %} {% if perms.accidents.add_accidente %} {% endif %} {% if perms.auth.view_user %}
                <li><a href="{% url 'listUser' %}"><span data-hover="Usuarios">Usuarios</span></a></li>
                {% endif %} {% if perms.auth.view_group %}
                <li><a href="{% url 'listProfile' %}"><span data-hover="Grupos">Grupos</span></a></li>
                {% endif %} {% if perms.sucursal.view_comuna %}
                <li><a href="{% url 'listComuna' %}"><span data-hover="Comuna">Comuna</span></a></li>
                {% endif %} {% if perms.sucursal.view_grua %}
                <li><a href="{% url 'listGrua' %}"><span data-hover="Grua">Grua</span></a></li>
                {% endif %} {% if perms.sucursal.view_sucursal %}
                <li><a href="{% url 'listSucursal' %}"><span data-hover="Sucursal">Sucursal</span></a></li>
                {% endif %} {% if perms.sucursal.view_taller %}
                <li><a href="{% url 'listTaller' %}"><span data-hover="Mis talleres">Mis talleres</span></a></li>
                {% endif %} {% if perms.sucursal.accept_taller %}
                <li><a href="{% url 'listTallerCar' %}"><span data-hover="Autos asignados a taller">Autos asignados a taller</span></a></li>
                {% endif %} {% if perms.reparacion.view_reparacion %}
                <li><a href="{% url 'listReparacion' %}"><span data-hover="Presupuestos pendientes">Presupuestos pendientes</span></a></li>
                {% endif %} {% if user.is_superuser %}
                <li><a href="{% url 'accidents:list' %}"><span data-hover="Siniestros Pendientes">Siniestros</span></a></li>
                {% endif %} {% if perms.accidents.asign_accidente and not user.is_superuser %}
                <li><a href="{% url 'accidents:pending_list' %}"><span data-hover="Siniestros Pendientes">Siniestros Pendientes</span></a></li>
                {% endif %} {% if perms.accidents.view_accidente and not user.is_superuser %}
                <li><a href="{% url 'accidents:list_accidents' %}"><span data-hover="Gestionar Siniestros">Gestionar Siniestros</span></a></li>
                {% endif %}

                {% endif %}
            </ul>
        </nav>
    </div>
    <!-- /.navbar-collapse -->
</nav>