{% extends 'base/base.html' %}{% load static %} {% load humanize %}

{% block contenido %}
	<div class="services">
    	<div class="container">
        	<h3 class="title_denuncia">Siniestro</h3>
        	<p class="quia">A continuación, puedes ver los detalles del ingreso del siniestro.</p>

			<div class="auto">
				<div class="tab-content">				
					  <h6 class="consulta_poliza my-4"><strong>Ficha de siniestro</strong></h6>
					  <div class="row">

					  		{% if cotizacion or object.taller%}
							<div class="col-6">
							{% else %}
							<div class="col d-flex justify-content-center">
							{% endif %}
								<ul class="list-group">
									<li class="list-group-item active text-center"><i class="fas fa-list"></i> Datos generales</li>
									<li class="list-group-item"> 
										<p><strong class="text-blue my-0">Fecha del siniestro:  </strong> {{ object.fecha }}</p>
										<p><strong class="text-blue">No del siniestro:  </strong> {{ object.pk }}</p>
										<p><strong class="text-blue">Cantidad Maxima de cobertura:  </strong> {{ object.poliza.cantidad_maxima|floatformat:0|intcomma }}</p>
										<p><strong class="text-blue">Estado:  </strong> {{ status }}</p>
										<p><strong class="text-blue">Detalles:  </strong> {{ object.detalles }}</p>
									</li>

									<li class="list-group-item active text-center"><i class="fa fa-user"></i> Datos del Cliente</li>
									<li class="list-group-item"> 
										<p><strong class="text-blue my-0">RUT:  </strong> {{ object.poliza.cliente.rut }}</p>
										<p><strong class="text-blue">Nombre:  </strong> {{ object.poliza.cliente.nombre }}</p>
										<p><strong class="text-blue">Apellido:  </strong> {{ object.poliza.cliente.apellido }}</p>
										<p><strong class="text-blue">Fecha de nacimiento:  </strong> {{ object.poliza.cliente.fecha_nacimiento }}</p>
										<p><strong class="text-blue">Nro Documento:  </strong> {{ object.poliza.cliente.nro_doc }}</p>
										<p><strong class="text-blue">Correo:  </strong> {{ object.poliza.cliente.email }}</p>
										<p><strong class="text-blue">Telefono:  </strong> {{ object.poliza.cliente.telefono }}</p>
										<p><strong class="text-blue">Dirección:  </strong> {{ object.poliza.cliente.direccion }}</p>
									</li>

									<li class="list-group-item active text-center"><i class="fa fa-car"></i> Datos del Vehiculo</li>
									<li class="list-group-item"> 
										<p><strong class="text-blue my-0">Patente:  </strong> {{ object.poliza.vehiculo.patente }}</p>
										<p><strong class="text-blue">Marca:  </strong> {{ object.poliza.vehiculo.get_marca_display }}</p>
										<p><strong class="text-blue">Modelo:  </strong> {{ object.poliza.vehiculo.modelo }}</p>
										<p><strong class="text-blue">Año:  </strong> {{ object.poliza.vehiculo.year }}</p>
										<p><strong class="text-blue">Nuevo:  </strong> {{ object.poliza.vehiculo.nuevo|yesno:"Si,No" }}</p>
									</li>
									{% if object.grua %}
									<li class="list-group-item active text-center"><i class="fa fa-truck-pickup"></i> Datos de la Grúa</li>
									<li class="list-group-item"> 
										<p><strong class="text-blue my-0">Patente:  </strong> {{ object.grua.patente }}</p>
										<p><strong class="text-blue">Marca:  </strong> {{ object.grua.marca }}</p>
										<p><strong class="text-blue">Modelo:  </strong> {{ object.grua.modelo }}</p>
										<p><strong class="text-blue">Año:  </strong> {{ object.grua.anio }}</p>
										<p><strong class="text-blue">Chofer:  </strong> {{ object.grua.chofer.get_full_name }}</p>
									</li>
									{% endif %}
								</ul>
							</div>

							{% if cotizacion or object.taller%}
								<div class="col-6">
									<ul class="list-group">
										{% if object.taller %}
										<li class="list-group-item active text-center"><i class="fa fa-warehouse"></i> Datos del taller</li>
										<li class="list-group-item"> 
											<p><strong class="text-blue my-0">Nombre:  </strong> {{ object.taller.nombre }}</p>
											<p><strong class="text-blue">Dirección:  </strong> {{ object.taller.direccion }}</p>
											<p><strong class="text-blue">Comuna:  </strong> {{ object.taller.comuna.nombre }}</p>
											<p><strong class="text-blue">Encargado:  </strong> {{ object.taller.encargado.get_full_name }}</p>
										</li>
										{% endif %}

										{% if cotizacion %}
										<li class="list-group-item active text-center"><i class="fa fa-money-bill-wave"></i> Datos de la cotización</li>
										<li class="list-group-item"> 
											<p><strong class="text-blue">Monto de cobertura:  </strong> {{ cotizacion.montoCobertura|floatformat:0|intcomma }}</p>
											<p><strong class="text-blue">Monto Total:  </strong> {{ cotizacion.montoTotal|floatformat:0|intcomma }}</p>
											<p><strong class="text-blue">Dias de reparación:  </strong> {{ cotizacion.tiempoRepDias }}</p>
											<p><strong class="text-blue">Monto de cobertura:  </strong> {{ cotizacion.montoCobertura|intcomma }}</p>
											<p><strong class="text-blue">Estado:  </strong> {{ cotizacion.autorizado|yesno:"autorizado,sin autorizacion" }}</p>
											<p><strong class="text-blue">Observaciones:  </strong> {{ cotizacion.observaciones}}</p>
										</li>

										<li class="list-group-item active text-center">Detalles de cotización</li>
										<li class="list-group-item"> 
											{% for detalle in cotizacion.detalles.all %}
												<hr>
												<p><strong class="text-blue my-0">Nombre:  </strong> {{ detalle.nombre }}</p>
												<p><strong class="text-blue my-0">Descripción:  </strong> {{ detalle.descripcion }}</p>
												<p><strong class="text-blue my-0">Monto:  </strong> {{ detalle.monto }}</p>
												<hr>
											{% endfor %} 
										</li>
										{% elif  object.estado == 3 and perms.sucursal.cotizacion_taller %}
											<a href="{% url 'addReparacion' object.pk %}" class="btn btn-success">Crear Cotizacion de reparacion</a>
										{% endif %}
									</ul>
								</div>
							{% endif %}
					  </div>
				</div>
			</div>
		</div>
	</div>
{% endblock contenido %}
