{% extends 'base/base.html' %}{% load static %} {% load utils_tags %} {% block contenido %}

<div class="services">
    <div class="container">
        {% if asignacion %}
        <h3 class="title_denuncia">Paso N°3</h3>
        <br>
        <p class="quia">Por favor, realizar la asignación correspondiente para continuar con el proceso.</p>
        {% else %}
        <h3 class="title_denuncia">Paso N°2</h3>
        <br>
        <p class="quia">Por favor describe brevemente el siniestro, para registrarlo</p>
        {% endif %}
        <br>
        <br>

        <div class="auto">
            <p><b>Codigo: </b>{{ object.pk }}</p>
            <p><b>Detalles: </b>{{ object.detalles }}</p>
            <p><b>Comuna: </b>{{ object.comuna.nombre }}</p>
            <p><b>Estado: </b>{{ estados | get_status:object.estado }}</p>
            <p><b>Direccion: </b>{{ object.direccion_incidente }}</p>
            <form method="POST" id="form-rebel">
                {% csrf_token %} {{ form }}
                <br>
                <button onclick="document.getElementById('form-rebel').submit();" class="btn btn-success">Guardar</button>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock contenido %} {% block enviarJS %} {% endblock enviarJS %} {% block javas %}
<script>
    // se declara una variable para guardar el id de la comuna y usarlo para filtrar
    var city = "{{object.comuna.pk}}";
    // esta funcion se ejecuta cada vez que select cambia de valor  y actualiza la varibale javascript de la comuna
    function setCity(value) {
        city = value;
        // se limpian los select
        $('#id_taller').val(null).trigger('change');
        $('#id_liquidador').val(null).trigger('change');
        $('#id_grua').val(null).trigger('change');
    }
    // cuando se termine de cargar la pagina, la funcion que esta dentro se ejecutara
    window.onload = function() {
        // se toma el select de taller y se convierte en un select2
        $('#id_taller').select2({
            closeOnSelect: true,
            theme: 'bootstrap4',
            width: "100%",
            // se declara que este select2 cambiara las opciones mediante un ajax
            ajax: {
                // se le da la url endpoint que nos devolvera los tallers
                url: "{% url 'buscarTaller' %}",
                // esta funcion se utiliza para declarar los parametros que se enviaran a la url
                data: function(params) {
                    // query sera un diccionario, el cual se define como sera la busqueda en el url
                    var query = {
                            q: params.term,
                            city: city,
                            type: "free"
                        }
                        //   la variable params.term contiene el texto que se escribio dentro del select2
                        // definiendo q y city la en la url se utilizaran de la siguiente manera taller/buscar?q=[params.term]&city=[city]
                    return query;
                },
                // se define que se espera un json por parte del endpoint
                dataType: 'json',
                // esta function se utiliza para transformar la respuesta del endpoint 
                // {
                // 	id:[id],
                // 	nombre:[nombre]
                // }
                // select2 necesita la siguiente estructura
                // {
                // 	id:[id],
                // 	text:[nombre]
                // }
                processResults: function(data) {
                    // se declara un array vacio donde se guardara los valores ya transformados
                    let results = [];
                    data.forEach(element => {
                        // se transforma la respuesta
                        results.push({
                            id: element.id,
                            text: element.nombre
                        });
                    });
                    return {
                        //   se devuelve un array con todas las transformaciones
                        results: results
                    };
                }
            }
        });
        $('#id_liquidador').select2({
            closeOnSelect: true,
            theme: 'bootstrap4',
            width: "100%",
            ajax: {
                url: "{% url 'buscarLiquidador' %}",
                data: function(params) {
                    var query = {
                        q: params.term,
                        city: city,
                        type: "free",
                    }
                    return query;
                },
                dataType: 'json',
                processResults: function(data) {
                    let results = [];
                    data.forEach(element => {
                        results.push({
                            id: element.usuario__id,
                            text: element.usuario__first_name
                        });
                    });
                    return {
                        results: results
                    };
                }
            }
        });
        $('#id_grua').select2({
            closeOnSelect: true,
            theme: 'bootstrap4',
            width: "100%",
            ajax: {
                url: "{% url 'buscarGrua' %}",
                data: function(params) {
                    var query = {
                        q: params.term,
                        city: city,
                        type: "free",
                    }
                    return query;
                },
                dataType: 'json',
                processResults: function(data) {
                    let results = [];
                    data.forEach(element => {
                        results.push({
                            id: element.id,
                            text: element.patente
                        });
                    });
                    return {
                        results: results
                    };
                }
            }
        });
    };
</script>
{% endblock javas %}