{% extends 'base/listado.html' %} {% load utils_tags %} {% block crearTabla %} {% if perms.accidents.asign_accidente %}
<thead class="btn-primary text-dark">
    <tr>
        <td>Fecha</td>
        <td>Nro Siniestro</td>
        <td>Poliza</td>
        <td>Estado</td>
        <td>Comuna</td>
        <td>Detalles</td>
        <td>Acciones</td>
    </tr>
</thead>
<tbody>
    {% for p in object_list %}
    <tr>
        <td>{{p.fecha}}</td>
        <td>{{ p.pk }}</td>
        <td>{{ p.poliza }}</td>
        <td>{{ estados | get_status:p.estado }}</td>
        <td>{{ p.comuna }}</td>
        <td>{{ p.detalles }}</td>

        <td class="text-center">
            {% if perms.accidents.asign_accidente %}
            <a href="{% url 'accidents:assing' p.id %}" class="btn btn-warning btn-xs btn-flat"><i class="fas fa-user-edit"></i>  Asignar</a> {% endif %} {% if perms.accidents.delete_accidente %}
            <button type="button" data-url="{% url 'accidents:assing' p.id %}" datos="{{ p.id }}" class="btn btn-danger btn-xs btn-flat eliminar"><i class="fas fa-trash-alt"></i></button> {%endif%}
        </td>
    </tr>
    {% endfor %}
</tbody>
{% endif %} {% endblock crearTabla %}