{% extends 'base/listado.html' %} {% load static %} {% load utils_tags %}
{% block permisoAgregar %}
{% if perms.accidents.add_accidente %}
<a class="btn btn-primary" href="{% url 'poliza' %}">
    <i class="fas fa-car-crash"></i> Ingresar siniestro
</a>
{% endif %} {% endblock %}


 {% block crearTabla %} {% if perms.accidents.view_accidente %}
 <div class="text-center">
    <h3>Lista de Siniestros para Gestionar</h3>
 </div>
<thead class="btn-primary text-dark">
    <tr>
        <td>Fecha</td>
        <td>Nro Siniestro</td>
        <td>RUT Cliente</td>
        <td>Nombre Cliente</td>
        <td>Estado</td>
        <td>Liquidador</td>
        <td>Taller</td>
        <td>Grua</td>
        <td>Acciones</td>
    </tr>
</thead>
<tbody>
    {% for p in object_list %}
    <tr>
        <td>{{ p.fecha }}</td>
        <td>{{ p.pk }}</td>
        <td>{{ p.poliza.cliente }}</td>
        <td>{{ p.poliza.cliente.nombre }} {{ p.poliza.cliente.apellido }}</td>
        <td>{{ estados | get_status:p.estado }}</td>
        <td>{% if p.liquidador %} {{ p.liquidador.get_full_name }} {% else %} NA {% endif%}</td>
        <td>{% if p.taller %} {{ p.taller }} {% else %} NA {% endif%}</td>
        <td>{% if p.grua %} {{ p.grua }} {% else %} NA {% endif%}</td>

        <td class="text-center">
            {% autoescape off %}
                {% get_accidents_links p user perms %}
            {% endautoescape %}
        </td>
    </tr>
    {% endfor %}
</tbody>
{% endif %} {% endblock crearTabla %}

{% block jsListado %}
<script src="{% static 'taller/tallerList.js' %}"></script>
{% endblock jsListado %}