{% extends 'base/listado.html' %} {% load static %} {% load utils_tags %}

{% block validarPermiso %}
<div class="text-center">
    <h3>Reportes de siniestro</h3>
</div>
{% endblock validarPermiso %}
 {% block crearTabla %} {% if perms.accidents.view_accidente %}
<thead class="btn-primary text-dark">
    <tr>
        <td>Fecha</td>
        <td>Fecha</td>
        <td>Nro Siniestro</td>
        <td>Comuna</td>
        <td>RUT Cliente</td>
        <td>Nombre Cliente</td>
        <td>Tipo Vehiculo</td>
        <td>Estado</td>
        <td>Liquidador</td>
        <td>Taller</td>
        <td>Grua</td>
        <td>Acciones</td>
    </tr>
</thead>
<tbody>
    {% for p in object_list %}
    <tr>
        <td>{{ p.fecha }}</td>
        <td>{{ p.fecha|date:"F" }}</td>
        <td>{{ p.pk }}</td>
        <td>{{ p.comuna }}</td>
        <td>{{ p.poliza.cliente }}</td>
        <td>{{ p.poliza.cliente.nombre }} {{ p.poliza.cliente.apellido }}</td>
        <td>{% if p.poliza.vehiculo.tipo %} {{ p.poliza.vehiculo.tipo }} {% else %} NA {% endif%}</td>
        <td>{{ estados | get_status:p.estado }}</td>
        <td>{% if p.liquidador %} {{ p.liquidador.get_full_name }} {% else %} NA {% endif%}</td>
        <td>{% if p.taller %} {{ p.taller }} {% else %} NA {% endif%}</td>
        <td>{% if p.grua %} {{ p.grua }} {% else %} NA {% endif%}</td>

        <td class="text-center">
            <a href="{% url 'accidents:view_accident' p.pk %}" class="text-white btn btn-warning btn-xs btn-flat"><i class="fas fa-eye"></i></a>
        </td>
    </tr>
    {% endfor %}
</tbody>
{% endif %} {% endblock crearTabla %}

{% block jsListado %}
<script src="{% static 'taller/tallerList.js' %}"></script>
<script src="{% static 'lib/reportes/datatables.buttons.min.js' %}"></script>
<script src="{% static 'lib/reportes/jszip.min.js' %}"></script>
<script src="{% static 'lib/reportes/pdfmake.min.js' %}"></script>
<script src="{% static 'lib/reportes/vfs_fonts.js' %}"></script>
<script src="{% static 'lib/reportes/buttons.html5.min.js' %}"></script>
<script src="{% static 'reportes.js' %}"></script>
{% endblock jsListado %}